:host {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
}
.edit-form {
	@apply pt-12;
	width: 100%;
	max-width: 1155px;
	margin: 0 2rem;

	.input-wrapper {
		display: flex;
		@apply mb-7;

		section {
			@apply p-6;
			flex-grow: 1;

			h4 {
				@apply text-2xl font-bold;
				color: #262626;
			}

			h5 {
				@apply text-lg font-bold;
			}

			p {
				@apply mb-8;
				color: #646464;
			}

			&.proprierty-data {
				max-width: 445px;
				height: fit-content;
				background-color: #f8f9fa;

				h4 {
					@apply mb-7;
				}

				.photo-input {
					@apply mb-6;

					img {
						width: 100%;
						height: auto;
					}
					.buttons {
						@apply flex justify-between my-4;

						button {
							@apply my-2 text-sm h-11 w-48 font-bold;
						}

						::ng-deep {
							.p-fileupload {
								display: inline-block;

								.p-button {
									@apply my-2 text-sm h-11 w-48 font-bold;

									.p-button-icon {
										display: none;
									}
								}
							}
						}
					}
				}

				.document-list {
					@apply mb-5 mt-5 mb-7;

					.document {
						@apply my-3 flex justify-between text-sm;
						color: #641b1e;

						.buttons {
							@apply text-xl;

							button {
								@apply mx-1 w-7 h-7 rounded-full;
								padding: 0 0 0 0.37rem;
								text-align: center;

								&:hover {
									background-color: #f7ded3;
								}
							}
						}

						> span:first-child:before {
							content: "";
							display: inline-block;
							@apply w-6 h-6 mr-4 rounded;
							margin-bottom: -0.4rem;
							background-color: #f7ded3;
							background-position: center center;
							background-repeat: no-repeat;
						}

						&.project > span:first-child:before {
							background-image: url("../../../../assets/images/icons/blueprint-buildings.svg");
						}
						&.registration > span:first-child:before {
							background-image: url("../../../../assets/images/icons/blueprint-home.svg");
						}
						&.occupancy > span:first-child:before {
							background-image: url("../../../../assets/images/icons/blueprint-buildings.svg");
						}
					}
				}
			}

			.property-photos {
				display: flex;
				align-items: flex-start;

				.photo {
					position: relative;
					overflow: hidden;
					width: 7.5rem;
					height: 6.5rem;

					&:not(:last-child) {
						margin-right: 1rem;
					}

					img {
						min-width: 100%;
						min-height: 100%;
						max-width: none;
						max-height: 100%;
						background-color: #262626;
					}

					button {
						position: absolute;
						bottom: 0;
						left: 0;
						border-radius: 0;
						padding: 0 0 0 0.36rem;
						@apply text-xl w-8 h-8;
						color: #ffffff;
					}
				}

				.add-photo-button {
					width: 7.5rem;
					height: 6.5rem;
					display: block;
					border-radius: 0;
					color: #641b1e;
					padding: 0.4rem;
					background-color: #f7ded3;
					@apply text-sm;

					i {
						@apply text-2xl;
					}

					&:hover {
						background-color: rgb(248, 212, 197);
					}
				}
			}
		}
	}

	.form-actions {
		display: flex;
		gap: 1rem;
		width: 100%;
		border-top: 1px solid #eaeaea;
		@apply py-8 px-6;

		button {
			&:first-child {
				margin-right: auto;
			}
		}
	}
}

.field {
	margin-bottom: 1.7rem;

	label {
		@apply text-sm mb-2;
		color: #262626;
	}

	input {
		width: 100%;
	}

	.p-error {
		position: absolute;
	}

	&:last-child {
		margin-bottom: 0.7rem;
	}
}

:host ::ng-deep {
	.p-inputwrapper {
		width: 100%;

		.p-component {
			&.p-dropdown {
				width: 100%;
			}
		}
	}

	.p-calendar {
		width: 100%;

		.p-inputtext {
			width: 100%;
		}
	}

	.form-modal {
		text-align: center;
		max-width: 25rem;

		h2 {
			@apply font-bold;
			font-size: 2rem;
			color: #353635;
		}

		i {
			@apply mt-4;
			font-size: 5rem;
			color: #319016;
		}

		p {
			@apply text-lg mt-4;
			color: #262626;
		}

		.p-button {
			@apply mt-10;
			width: 100%;
		}

		.modal-error {
			i {
				color: #e24c4c;
			}
		}
	}
}

.alert-message {
	width: 100%;
	height: 100%;
	background-color: #f8f9fa;

	.loading {
		max-width: 1440px;
		margin: 5rem;
	}
}
