<div class="alert-message" *ngIf="invalidGuid || isLoading">
	<div class="loading" *ngIf="isLoading">
		<app-spinner></app-spinner>
	</div>
	<div
		class="invalid flex justify-center items-center h-full"
		*ngIf="invalidGuid"
	>
		<div class="bg-white rounded border border-slate-200">
			<div class="text-center w-full text-xl font-bold p-20 text-red-600">
				Não foi possível carregar dados do imóvel
			</div>
		</div>
	</div>
</div>

<form
	class="edit-form"
	[formGroup]="editForm"
	(ngSubmit)="onSubmit($event)"
	*ngIf="!isLoading && !invalidGuid"
>
	<h1 class="text-2xl font-bold mb-6">Editar imóvel</h1>

	<div class="input-wrapper">
		<section class="proprierty-data">
			<h4>Informações do imóvel</h4>
			<p>
				Aqui você encontra todas as informações referente ao imóvel selecionado.
			</p>

			<div class="photo-input">
				<img src="../../../../assets/images/imovel.png" alt="edit-photo" />

				<div class="buttons">
					<button
						pButton
						type="button"
						label="Excluir foto"
						class="p-button-outlined"
					></button>

					<p-fileUpload
						mode="basic"
						name="demo[]"
						accept="image/*"
						chooseLabel="Adicionar nova foto"
						chooseIcon=""
						uploadIcon=""
						cancelIcon=""
						styleClass="text-sm p-button-outlined"
					></p-fileUpload>
				</div>
			</div>

			<h5>Documentos</h5>

			<div class="document-list">
				<div class="document project">
					<span>Projeto</span>
					<span class="buttons">
						<button
							pButton
							type="button"
							class="p-button-rounded p-button-text"
						>
							<i class="ph-download-simple"></i>
						</button>
						<button
							pButton
							type="button"
							class="p-button-rounded p-button-text"
						>
							<i class="ph-trash"></i>
						</button>
					</span>
				</div>
				<div class="document registration">
					<span>Matrícula</span>
					<span class="buttons">
						<button
							pButton
							type="button"
							class="p-button-rounded p-button-text"
						>
							<i class="ph-download-simple"></i>
						</button>
						<button
							pButton
							type="button"
							class="p-button-rounded p-button-text"
						>
							<i class="ph-trash"></i>
						</button>
					</span>
				</div>
				<div class="document occupancy">
					<span>Habite-se</span>
					<span class="buttons">
						<button
							pButton
							type="button"
							class="p-button-rounded p-button-text"
						>
							<i class="ph-download-simple"></i>
						</button>
						<button
							pButton
							type="button"
							class="p-button-rounded p-button-text"
						>
							<i class="ph-trash"></i>
						</button>
					</span>
				</div>
			</div>

			<button
				pButton
				type="button"
				label="Adicionar novo documento"
				class="p-button-outlined w-full"
			></button>
		</section>

		<section class="aditional-data">
			<div class="field">
				<label for="proprietary" class="block">Proprietário</label>
				<p-dropdown
					id="proprietary"
					[options]="proprietaries"
					[filter]="true"
					filterBy="label"
					formControlName="proprietary"
					aria-describedby="proprietary-help"
				></p-dropdown>
				<ng-container *ngIf="checkHasError(f['proprietary'])">
					<small
						id="proprietary-help"
						*ngIf="f['proprietary'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe o proprietário
					</small>
					<ng-template #error2>
						<small id="proprietary-help" class="p-error block">
							Proprietário inválido
						</small>
					</ng-template>
				</ng-container>
			</div>

			<div class="field">
				<label for="name" class="block">Nome do imóvel</label>
				<input
					id="name"
					type="text"
					formControlName="name"
					aria-describedby="name-help"
					pInputText
				/>
				<ng-container *ngIf="checkHasError(f['name'])">
					<small
						id="name-help"
						*ngIf="f['name'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe o nome
					</small>
					<ng-template #error2>
						<small id="name-help" class="p-error block"> Nome inválido </small>
					</ng-template>
				</ng-container>
			</div>

			<div class="field">
				<label for="category" class="block">Categoria do imóvel</label>
				<p-dropdown
					id="category"
					[options]="propertyCategories"
					formControlName="category"
					aria-describedby="category-help"
				></p-dropdown>
				<ng-container *ngIf="checkHasError(f['category'])">
					<small
						id="category-help"
						*ngIf="f['category'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe o tipo de unidade
					</small>
					<ng-template #error2>
						<small id="category-help" class="p-error block">
							Tipo de unidade inválido
						</small>
					</ng-template>
				</ng-container>
			</div>

			<div class="field">
				<label for="cost-centre" class="block">N° do centro de custo</label>
				<input
					id="cost-centre"
					type="text"
					formControlName="costCentre"
					aria-describedby="cost-centre-help"
					pInputText
				/>
				<ng-container *ngIf="checkHasError(f['costCentre'])">
					<small
						id="cost-centre-help"
						*ngIf="f['costCentre'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe o n° do centro de custo
					</small>
					<ng-template #error2>
						<small id="cost-centre-help" class="p-error block">
							N° do centro de custo inválido
						</small>
					</ng-template>
				</ng-container>
			</div>

			<h5 class="mb-5">Fotos do imóvel</h5>
			<div class="property-photos">
				<div class="photo">
					<img
						src="../../../../assets/images/property/1.jpg"
						alt="Foto do imóvel"
					/>
					<button pButton type="button">
						<i class="ph-trash"></i>
					</button>
				</div>

				<div class="photo">
					<img
						src="../../../../assets/images/property/2.png"
						alt="Foto do imóvel"
					/>
					<button pButton type="button">
						<i class="ph-trash"></i>
					</button>
				</div>

				<div class="photo">
					<img
						src="../../../../assets/images/property/3.png"
						alt="Foto do imóvel"
					/>
					<button pButton type="button">
						<i class="ph-trash"></i>
					</button>
				</div>

				<button pButton type="button" class="p-button-rounded add-photo-button">
					<i class="ph-plus"></i>
					<div>Adicionar foto</div>
				</button>
			</div>
		</section>
	</div>
	<div class="form-actions">
		<button
			pButton
			type="button"
			label="Voltar"
			class="p-button-text h-11"
			(click)="goBack()"
		></button>

		<button
			pButton
			pRipple
			type="button"
			label="Cancelar"
			class="p-button-outlined h-11"
			[disabled]="editForm.invalid"
			(click)="navigateTo('property/details/' + propertyGuid)"
		></button>

		<button
			pButton
			type="submit"
			label="Continuar"
			class="h-11"
			[disabled]="editForm.invalid"
		></button>
	</div>
</form>

<p-dialog
	[(visible)]="displayModal"
	[modal]="true"
	[draggable]="false"
	[resizable]="false"
	styleClass="form-modal"
>
	<div *ngIf="!modalContent.isError; else error" class="modal-success">
		<h2 *ngIf="modalContent.header">{{ modalContent.header }}</h2>
		<i class="ph-check-circle"></i>
		<p>
			{{ modalContent.message }}
		</p>
		<button
			pButton
			label="Continuar"
			(click)="closeModal(navigateTo, 'property/details/' + propertyGuid)"
		></button>
	</div>
	<ng-template #error>
		<div class="modal-error">
			<h2 *ngIf="modalContent.header">{{ modalContent.header }}</h2>
			<i class="ph-x-circle"></i>
			<p>
				{{ modalContent.message }}
			</p>
			<button pButton label="Continuar" (click)="closeModal()"></button>
		</div>
	</ng-template>
</p-dialog>
