:host {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
}
.edit-form {
	@apply pt-8;
	width: 100%;
	max-width: 1155px;
	margin: 0 2rem;

	.input-wrapper {
		display: flex;
		@apply mb-7;

		section {
			@apply p-6;
			flex-grow: 1;
			position: relative;

			h4 {
				@apply text-2xl font-bold;
				color: #262626;
			}

			h5 {
				@apply text-lg font-bold;
			}

			p {
				@apply mb-8;
				color: #646464;
			}

			&.property-data {
				max-width: 445px;
				height: fit-content;
				background-color: #f8f9fa;

				h4 {
					@apply mb-7;
				}

				.photo-input {
					@apply mb-6;

					img.coverPhoto {
						width: 100%;
						aspect-ratio: 1440 / 360;
						object-fit: cover;
						border: solid 1px #cecece;
						height: auto;
					}
					.buttons {
						@apply flex justify-between my-4 gap-3;

						button {
							@apply my-2 text-sm h-11 w-48 font-bold;
						}

						::ng-deep {
							.p-fileupload {
								display: inline-block;

								.p-button {
									@apply my-2 text-sm h-11 w-48 font-bold;

									.p-button-icon {
										display: none;
									}
								}
							}
						}
					}
				}

				.document-list {
					@apply mt-5 mb-7;

					.document {
						@apply flex justify-between items-center text-sm rounded;
						color: #641b1e;
						padding: 0.4rem;

						.buttons {
							@apply text-xl;

							button {
								@apply mx-1 w-7 h-7 rounded-full;
								padding: 0 0 0 0.37rem;
								text-align: center;

								&:hover {
									background-color: #f7ded3;
								}
							}

							label {
								@apply inline-block mx-1 w-7 h-7 rounded-full;
								padding: 0.1rem 0 0 0;
								text-align: center;
								cursor: pointer;
								font-size: 1rem;

								&:hover {
									background-color: #f7ded3;
								}

								i {
									color: #641b1e;
								}

								input[type="file"] {
									display: none;
								}
							}
						}

						> span:first-child:before {
							content: "";
							display: inline-block;
							@apply w-6 h-6 mr-4 rounded;
							margin-bottom: -0.4rem;
							background-color: #f7ded3;
							background-position: center center;
							background-repeat: no-repeat;
						}

						&.project > span:first-child:before {
							background-image: url("../../../../assets/images/icons/blueprint-buildings.svg");
						}
						&.registration > span:first-child:before {
							background-image: url("../../../../assets/images/icons/blueprint-home.svg");
						}
						&.occupancy > span:first-child:before {
							background-image: url("../../../../assets/images/icons/blueprint-buildings.svg");
						}

						&.empty {
							color: #5f5f5f;

							> span:first-child:before {
								filter: grayscale(1);
							}
						}

						&:hover {
							background-color: rgba(0, 0, 0, 0.02);
						}
					}
				}
			}

			.property-photos {
				position: relative;
				width: 100%;
				max-width: 100%;
				// width: 400px;
				overflow-x: hidden;

				.photo-scroller {
					display: flex;
					align-items: flex-start;
					flex-wrap: wrap;
					gap: 1rem;
					width: 100%;
					max-width: 100%;

					> * {
						flex-grow: 0;
						flex-shrink: 1;
						flex-basis: 7.5rem;
					}

					.photo {
						position: relative;
						overflow: hidden;
						width: 7.5rem;
						height: 6.5rem;

						img {
							min-width: 100%;
							min-height: 100%;
							max-width: none;
							max-height: 100%;
							object-fit: cover;
							background-color: #262626;
						}

						button {
							position: absolute;
							bottom: 0;
							left: 0;
							border-radius: 0;
							padding: 0 0 0 0.36rem;
							@apply text-xl w-8 h-8;
							color: #ffffff;
						}
					}

					.add-photo-button {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 7.5rem;
						height: 6.5rem;
						border-radius: 0;
						color: #641b1e;
						padding: 0.4rem;
						background-color: #f7ded3;
						cursor: pointer;
						@apply text-sm;

						i {
							@apply text-2xl;
						}

						&:hover {
							background-color: rgb(248, 212, 197);
						}

						input[type="file"] {
							display: none;
						}
					}
				}
			}
		}
	}

	.form-actions {
		display: flex;
		gap: 1rem;
		width: 100%;
		border-top: 1px solid #eaeaea;
		@apply py-8 px-6;

		button {
			&:first-child {
				margin-right: auto;
			}
		}
	}
}

.field {
	margin-bottom: 1.7rem;

	label {
		@apply text-sm mb-2;
		color: #262626;
	}

	input {
		width: 100%;
	}

	.p-error {
		position: absolute;
	}

	&:last-child {
		margin-bottom: 0.7rem;
	}
}

:host ::ng-deep {
	.p-inputwrapper {
		width: 100%;

		.p-component {
			&.p-dropdown {
				width: 100%;
			}
		}
	}

	.p-calendar {
		width: 100%;

		.p-inputtext {
			width: 100%;
		}
	}

	.form-modal {
		text-align: center;
		max-width: 25rem;

		h2 {
			@apply font-bold;
			font-size: 2rem;
			color: #353635;
		}

		i {
			@apply mt-4;
			font-size: 5rem;
			color: #319016;
		}

		p {
			@apply text-lg mt-4;
			color: #262626;
		}

		.p-button {
			@apply mt-10;
			width: 100%;
		}

		.modal-error {
			i {
				color: #e24c4c;
			}
		}
	}

	.crop-modal {
		text-align: center;
		min-width: 35rem;
		max-width: 60vw;
		--cropper-outline-color: rgba(75, 75, 75, 0.829);
		--cropper-overlay-color: transparent;

		h3 {
			@apply font-bold;
			font-size: 1.5rem;
			color: #353635;
		}

		i {
			@apply mt-4;
			font-size: 5rem;
			color: #319016;
		}

		p {
			@apply text-lg mt-4;
			color: #262626;
		}

		.p-button {
			@apply mt-10;
		}

		.modal-error {
			i {
				color: #e24c4c;
			}
		}
	}
}

.alert-message {
	width: 100%;
	// height: 100%;
	background-color: #f8f9fa;
	align-self: stretch;

	.loading {
		max-width: 1440px;
		margin: 5rem;
		height: 100%;
	}
}

::ng-deep {
	.p-element {
		.p-sidebar.p-sidebar-bottom {
			height: auto;
			max-height: 80vh;
		}
	}
}

@media (max-width: 768px) {
	.edit-form {
		margin: 0;

		h1 {
			margin: 0 1.5rem;
		}
		.input-wrapper {
			flex-direction: column;

			section {
				&.property-data {
					max-width: none;
					background-color: transparent;

					.photo-input {
						.buttons {
							justify-content: flex-end;
						}
					}
				}

				&.aditional-data {
					.property-photos {
						.photo-scroller {
							justify-content: center;
							gap: 0.5rem;

							> * {
								flex-grow: 0;
								flex-shrink: 1;
								flex-basis: 7.5rem;
							}
						}
					}
				}
			}
		}

		.form-actions {
			flex-wrap: wrap;
			button {
				flex-grow: 1;

				&:first-child {
					order: 3;
					width: 100%;
				}
			}
		}
	}

	::ng-deep {
		.form-modal {
			max-width: 100%;
		}

		.p-sidebar.crop-modal {
			min-width: auto;
			max-width: 100%;
		}

		.p-element {
			.p-tabview {
				.p-tabview-nav-container {
					.p-tabview-nav-content {
						margin: 0 1.5rem;

						ul.p-tabview-nav {
							display: flex;

							li {
								flex-grow: 1;

								.p-tabview-nav-link {
									padding-bottom: 1rem;

									.p-tabview-title {
										width: 100%;
										text-align: center;
									}
								}
							}
						}
					}
				}
				.p-tabview-panels {
					padding: 0;
				}
			}
		}
	}
}
