.details-data {
	.data {
		@apply mb-6;

		.label {
			@apply text-sm mb-2;
			display: block;
			color: #646464;
		}

		.value {
			@apply text-lg font-bold;
			color: #262626;

			&.large {
				@apply text-3xl;
			}
		}
	}
}

::ng-deep {
	.p-sidebar.p-sidebar-right {
		width: 26rem;
		max-width: 100vw;
	}

	.p-dialog {
		&.confirmation-modal {
			@apply w-[25rem] max-w-[100vw];

			.p-dialog-content {
				text-align: center;

				h2 {
					@apply text-3xl font-bold mb-4;
				}

				p {
					@apply text-lg mb-10;
				}
			}
		}
	}
}
