<ng-container *ngIf="isLoadingView; else details">
	<div class="flex relative justify-center items-center w-full h-full pt-20">
		<div class="w-full max-w-3xl">
			<app-spinner text="Carregando"></app-spinner>
		</div>
	</div>
</ng-container>
<ng-template #details>
	<div class="client-view">
		<div class="content">
			<section class="client">
				<h2>Detalhe do cliente</h2>

				<div class="main-card">
					<header>
						<h3>
							{{ cliente?.nome }}
							<!-- <span>{{ cliente?.idTipoClienteNavigation?.nome }}</span> -->
						</h3>
						<div class="actions">
							<button
								pButton
								type="button"
								class="p-button-outlined h-7"
								(click)="
									navigateTo('client/register/' + cliente.guidReferencia)
								"
							>
								Editar cliente
							</button>
							<!--button pButton type="button" class="p-button-outlined h-7"
						(click)="navigateTo('client/register/'+ cliente.guidReferencia + '/Clone')">
							Duplicar
						</button-->
						</div>
					</header>
					<div class="client-info">
						<div class="client-data">
							<div class="data-label">CPF/CNPJ</div>
							<div class="data-value">{{ cliente?.cpfCnpj | cpfcnpj }}</div>
						</div>
						<div class="client-data">
							<div class="data-label">Aniversário</div>
							<div class="data-value">
								{{ cliente?.dataNascimento | date : "shortDate" }}
							</div>
						</div>
						<div class="client-data">
							<div class="data-label">Email</div>
							<div class="data-value">
								<a>{{ cliente?.email }}</a>
							</div>
						</div>
						<div class="client-data">
							<div class="data-label">Telefone</div>
							<div class="data-value">{{ cliente?.telefone }}</div>
						</div>
						<div class="client-data">
							<div class="data-label">Endereço</div>
							<div class="data-value">{{ cliente?.endereco }}</div>
						</div>
						<div class="client-data">
							<div class="data-label">Cidade</div>
							<div class="data-value">
								{{ cliente?.cidade }} - {{ cliente?.estado }}
							</div>
						</div>
						<div class="client-data">
							<div class="data-label">CEP</div>
							<div class="data-value">{{ cliente?.cep }}</div>
						</div>
					</div>
				</div>
			</section>

			<section class="properties">
				<h2>Imóveis cadastrados no cliente</h2>

				<div class="flex flex-col gap-6">
					<ng-container *ngFor="let item of properties">
						<app-property-item [data]="item" class="mb-6"></app-property-item>
					</ng-container>
				</div>
			</section>
		</div>
	</div>
</ng-template>
