:host {
	display: block;
	background: #f8f9fa;
	min-height: 100vh;
}

.client-view {
	margin: 0 2rem;

	.content {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 2.5rem;
		padding-top: 2rem;
		padding-bottom: 4rem;
		max-width: 1155px;
		width: 100%;
		margin: 0 auto;

		h2 {
			@apply font-bold text-2xl mb-8;
		}

		section {
			width: 100%;
		}

		section.client {
			.main-card {
				background-color: #ffffff;
				display: block;
				justify-content: space-between;
				flex-wrap: wrap;
				max-width: 1155px;
				width: 100%;
				min-height: 200px;
				padding: 1.5rem;

				header {
					border-bottom: 1px solid #eaeaea;
					@apply flex justify-between pb-6 pt-3 flex-wrap;

					h3 {
						@apply font-bold text-3xl;

						span {
							@apply font-medium text-base leading-10 align-middle ml-4;
							position: relative;
							top: -0.3rem;
						}
					}

					.actions {
						display: flex;
						justify-content: space-between;
						@apply gap-4;
					}
				}

				.client-info {
					@apply grid gap-6 justify-items-start self-stretch pt-6;
					grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

					.client-data {
						.data-label {
							color: #646464;
							@apply text-sm;
						}
						.data-value {
							@apply text-base;
						}
					}
				}
			}
		}

		section.contacts {
			header {
				button {
					margin-top: 0.3rem;
				}
			}
			::ng-deep {
				.p-datatable {
					.p-datatable-wrapper {
						.p-datatable-table {
							.p-datatable-tbody {
								tr {
									td.action {
										.p-button {
											height: 2rem;
											width: 2rem;
											color: #641b1e;
											background-color: transparent;
											border: none;

											&:hover {
												background-color: #f7ded3;
											}

											&:focus-visible {
												box-shadow: 0 0 0 3px rgba(100, 27, 30, 0.2);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

:host ::ng-deep {
	.p-sidebar-content {
		height: 100%;
	}

	.p-sidebar-footer {
		display: none;
	}

	.form-modal {
		text-align: center;
		max-width: 25rem;

		h2 {
			@apply font-bold;
			font-size: 2rem;
			color: #353635;
		}

		i {
			@apply mt-4;
			font-size: 5rem;
			color: #319016;
		}

		p {
			@apply text-lg mt-4;
			color: #262626;
		}

		.p-button {
			@apply mt-10;
			width: 100%;
		}

		.modal-error {
			i {
				color: #e24c4c;
			}
		}
	}
}

::ng-deep {
	.p-sidebar.p-sidebar-right {
		width: 26rem;
	}

	.p-dialog {
		&.confirmation-modal {
			@apply w-[25rem];

			.p-dialog-content {
				text-align: center;

				h2 {
					@apply text-3xl font-bold mb-4;
				}

				p {
					@apply text-lg mb-10;
				}
			}
		}
	}
}