<ng-container *ngIf="isLoadingView; else details">
	<div class="flex relative justify-center items-center w-full h-full pt-20">
		<div class="w-full max-w-3xl">
			<app-spinner text="Carregando"></app-spinner>
		</div>
	</div>
</ng-container>
<ng-template #details>
	<div class="client-view">
		<div class="content">
			<section class="client">
				<h2>Detalhe do cliente</h2>

				<div class="main-card">
					<header>
						<h3>
							{{ cliente?.nome }}
							<span>
								<ng-container *ngIf="cliente?.imovel?.length > 0">
									<span>Proprietário</span>
								</ng-container>
								<ng-container *ngIf="cliente?.contratoAluguel?.length > 0">
									<span>Locatário</span>
								</ng-container>
							</span>
							<!-- <span>{{ cliente?.idTipoClienteNavigation?.nome }}</span> -->
						</h3>
						<div class="actions" *ngIf="isContactEdit">
							<button
								pButton
								type="button"
								class="p-element h-11 p-button p-component"
								(click)="
									navigateTo('client/register/' + cliente.guidReferencia)
								"
							>
								Editar cliente
							</button>
							<button
								pButton
								type="button"
								(click)="confirmInativar()"
								class="p-element p-button-outlined h-11 p-button p-component"
							>
								Inativar
							</button>
							<!--button pButton type="button" class="p-button-outlined h-7"
						(click)="navigateTo('client/register/'+ cliente.guidReferencia + '/Clone')">
							Duplicar
						</button-->
						</div>
					</header>
					<p-panel
						[header]="displayClientDetails ? 'Menos Detalhes' : 'Mais detalhes'"
						[toggleable]="true"
						[collapsed]="!displayClientDetails"
						(onBeforeToggle)="toggleClientDetails()"
						styleClass="mt-3"
						*ngIf="isMobile"
					>
						<ng-container *ngTemplateOutlet="clientInfoTemplate"></ng-container>
					</p-panel>

					<ng-container *ngIf="!isMobile">
						<ng-container *ngTemplateOutlet="clientInfoTemplate"></ng-container>
					</ng-container>

					<ng-template #clientInfoTemplate>
						<div class="client-info">
							<div class="client-data">
								<div class="data-label">CPF/CNPJ</div>
								<div class="data-value">{{ cliente?.cpfCnpj | cpfcnpj }}</div>
							</div>
							<div class="client-data" *ngIf="!isCnpj">
								<div class="data-label">Aniversário</div>
								<div class="data-value">
									{{ cliente?.dataNascimento | date : "shortDate" }}
								</div>
							</div>
							<div class="client-data">
								<div class="data-label">Email / Site</div>
								<div class="data-value">
									<a>{{ cliente?.email }}</a>
								</div>
							</div>
							<div class="client-data">
								<div class="data-label">Telefone</div>
								<div class="data-value">{{ cliente?.telefone | telefone }}</div>
							</div>
							<div class="client-data">
								<div class="data-label">Endereço</div>
								<div class="data-value">{{ cliente?.endereco }}</div>
							</div>
							<div class="client-data">
								<div class="data-label">Cidade</div>
								<div class="data-value">
									{{ cliente?.cidade }} - {{ cliente?.estado }}
								</div>
							</div>
							<div class="client-data">
								<div class="data-label">CEP</div>
								<div class="data-value">{{ cliente?.cep | cep }}</div>
							</div>
						</div></ng-template
					>
				</div>
			</section>

			<ng-container *ngIf="isCnpj">
				<section class="contacts" *ngIf="contacts.length > 0; else addContact">
					<header class="flex justify-between items-start">
						<h2>Contatos</h2>
						<button
							pButton
							type="button"
							icon="pi pi-plus"
							iconPos="left"
							class="p-button-outlined icon-left h-9"
							(click)="showContactRegister()"
							*ngIf="isContactEdit"
						>
							Novo contato
						</button>
					</header>

					<p-table
						*ngIf="!isMobile; else contactsCardListTemplate"
						[value]="contacts"
						styleClass="p-datatable-striped"
						[tableStyle]="{ 'min-width': '50rem' }"
					>
						<ng-template pTemplate="header">
							<tr>
								<th>Nome/Razão social</th>
								<th>Cargo/Setor</th>
								<th>Telefone</th>
								<th>Email</th>
								<th>Nascimento</th>
								<th></th>
							</tr>
						</ng-template>
						<!-- <ng-container *ngFor="let unit of property.unidade"></ng-container> -->
						<ng-template pTemplate="body" let-contact>
							<tr>
								<td>{{ contact.nome }}</td>
								<td>{{ contact.cargo }}</td>
								<td>{{ contact.telefone | telefone }}</td>
								<td>{{ contact.email }}</td>
								<td>{{ contact.dataNascimento }}</td>
								<td class="action w-16">
									<button
										type="button"
										pButton
										icon="pi pi-ellipsis-v"
										class="p-button-rounded"
										(click)="
											actionMenu.toggle($event); setCurrentContact(contact)
										"
									></button>
								</td>
							</tr>
						</ng-template>
					</p-table>

					<ng-template #contactsCardListTemplate>
						<div class="cardList">
							<ng-container *ngFor="let contact of contacts">
								<app-card-item
									[card]="{
										header: {
											title: contact.nome,
											hasMenu: true
										},
										infos: [
											{
												label: 'Cargo',
												data: contact.cargo
											},

											{
												label: 'Telefone',
												data: contact.telefone,
												pipe: cardPipes['telefone']
											},

											{
												label: 'Email',
												data: contact.email
											},

											{
												label: 'Nascimento',
												data: contact.dataNascimento
											}
										]
									}"
								>
									<button
										type="button"
										pButton
										icon="pi pi-ellipsis-v"
										class="p-button-rounded p-button-text h-9 w-9"
										(click)="
											actionMenu.toggle($event); setCurrentContact(contact)
										"
									></button>
								</app-card-item>
							</ng-container>
						</div>
					</ng-template>
				</section>

				<ng-template #addContact>
					<section class="contacts">
						<header class="flex justify-between">
							<h2>Sem contatos cadastrados</h2>
							<button
								pButton
								type="button"
								icon="pi pi-plus"
								iconPos="left"
								class="p-button-outlined icon-left h-9"
								(click)="showContactRegister()"
								*ngIf="isContactEdit"
							>
								Novo contato
							</button>
						</header>
					</section>
				</ng-template>
			</ng-container>

			<section class="properties" *ngIf="properties.length > 0">
				<h2>Imóveis do cliente</h2>

				<div class="flex flex-col gap-6">
					<app-property-list [properties]="properties"></app-property-list>
				</div>
			</section>

			<section class="contacts" *ngIf="cliente?.contratoAluguel?.length > 0">
				<header class="flex justify-between flex-wrap items-start mb-5">
					<h2 class="mb-2">Contratos de Aluguel</h2>
					<button
						pButton
						type="button"
						icon="pi pi-plus"
						iconPos="left"
						class="p-button-outlined icon-left h-9"
						(click)="showContactRegister()"
						*ngIf="isContactEdit"
					>
						Novo contato
					</button>
				</header>

				<p-table
					*ngIf="!isMobile; else rentContractsCardListTemplate"
					[value]="cliente?.contratoAluguel"
					styleClass="p-datatable-striped"
					[tableStyle]="{ 'min-width': '50rem' }"
				>
					<ng-template pTemplate="header">
						<tr>
							<th>Número do Contrato</th>
							<th>Início do contrato</th>
							<th>Próximo reajuste</th>
							<th></th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-contract>
						<tr>
							<td>{{ contract.numeroContrato }}</td>
							<td>{{ contract.dataInicioContrato | date }}</td>
							<td>{{ contract.periodicidadeReajuste }}</td>
							<td class="action w-16">
								<button
									type="button"
									pButton
									icon="pi pi-ellipsis-v"
									class="p-button-rounded"
									(click)="
										actionMenuContract.toggle($event);
										setCurrentContract(contract)
									"
								></button>
							</td>
						</tr>
					</ng-template>
				</p-table>

				<ng-template #rentContractsCardListTemplate>
					<div class="cardList">
						<ng-container *ngFor="let contract of cliente?.contratoAluguel">
							<app-card-item
								[card]="{
									infos: [
										{
											label: 'Número do Contrato',
											data: contract.numeroContrato
										},
										{
											label: 'Início do contrato',
											data: contract.dataInicioContrato,
											pipe: cardPipes['date']
										},
										{
											label: 'Próximo reajuste',
											data: contract.periodicidadeReajuste
										}
									]
								}"
							>
								<button
									pButton
									type="button"
									class="p-button-text icon-left h-9 font-bold"
									(click)="
										navigateTo(
											'rent-contract/details/' + contract.guidReferencia
										)
									"
								>
									Ver detalhes
								</button>
							</app-card-item>
						</ng-container>
					</div>
				</ng-template>
			</section>
		</div>
	</div>
</ng-template>

<p-menu #actionMenu [popup]="true" [model]="tableMenu"></p-menu>
<p-menu #actionMenuContract [popup]="true" [model]="tableMenuContract"></p-menu>

<p-sidebar [(visible)]="contactRegisterVisible" position="right">
	<ng-template pTemplate="header">
		<span class="text-2xl font-bold">Vincular um contato</span>
	</ng-template>
	<app-contact-register-sidebar
		[cancel]="hideContactRegister"
		[onRegister]="onUpdateContactList"
		[registerOnSubmit]="true"
		[guidClient]="uid"
		*ngIf="contactRegisterVisible"
	></app-contact-register-sidebar>
</p-sidebar>

<p-sidebar
	[(visible)]="contactDetailsVisible"
	position="right"
	*ngIf="selectedContact"
>
	<ng-template pTemplate="header">
		<span class="text-2xl font-bold">Detalhe do contato</span>
	</ng-template>
	<app-contact-detail-sidebar
		[data]="selectedContact"
		[openEditForm]="showContactEdit"
		[onDelete]="onUpdateContactList"
		[isFormEditable]="isContactEdit"
	></app-contact-detail-sidebar>
</p-sidebar>

<p-sidebar
	[(visible)]="contactEditVisible"
	position="right"
	*ngIf="selectedContact"
>
	<ng-template pTemplate="header">
		<span class="text-2xl font-bold">Editar contato</span>
	</ng-template>
	<ng-template pTemplate="content">
		<app-contact-edit-sidebar
			[data]="selectedContact"
			[cancel]="hideContactEdit"
			[onEdit]="onUpdateContactList"
		></app-contact-edit-sidebar>
	</ng-template>
</p-sidebar>

<app-responsive-dialog [isMobile]="isMobile" [visible]="displayModal">
	<div *ngIf="!modalContent.isError; else error" class="modal-success">
		<h2 *ngIf="modalContent.header">{{ modalContent.header }}</h2>
		<i class="ph-check-circle"></i>
		<p>
			{{ modalContent.message }}
		</p>

		<button
			*ngIf="!isInativar"
			pButton
			label="Continuar"
			(click)="closeModal()"
		></button>
		<button
			*ngIf="isInativar"
			pButton
			label="Continuar"
			(click)="navigateTo('/client/listing')"
		></button>
	</div>
	<ng-template #error>
		<div class="modal-error">
			<h2 *ngIf="modalContent.header">{{ modalContent.header }}</h2>
			<i class="ph-x-circle"></i>
			<p>
				{{ modalContent.message }}
			</p>
			<button pButton label="Continuar" (click)="closeModal()"></button>
		</div>
	</ng-template>
</app-responsive-dialog>

<app-responsive-dialog
	[isMobile]="isMobile"
	[(visible)]="displayConfirmationModal"
	styleClass="confirmation-modal"
>
	<h2>Deseja realmente excluir o contato?</h2>
	<p>
		Ao excluir as informações elas serão retiradas do CNPJ cadastrado. Caso
		queira continuar, clique em confirmar.
	</p>

	<div class="flex justify-between gap-5">
		<button
			pButton
			label="Cancelar"
			class="p-button-outlined w-full"
			(click)="closeConfirmationModal()"
		></button>

		<button
			pButton
			label="Continuar"
			(click)="deleteContact()"
			class="w-full"
		></button>
	</div>
</app-responsive-dialog>

<app-responsive-dialog
	[isMobile]="isMobile"
	[(visible)]="displayConfirmationInactiveModal"
	styleClass="confirmation-modal"
>
	<h2>Deseja realmente inativar o cliente?</h2>
	<p>
		Ao inativar não será possível visualizá-la novamente. Caso queira continuar,
		clique em confirmar.
	</p>

	<div class="flex justify-between gap-5">
		<button
			pButton
			label="Cancelar"
			class="p-button-outlined w-full"
			(click)="closeConfirmationInativarModal()"
		></button>

		<button
			pButton
			label="Continuar"
			(click)="inativarCliente()"
			class="w-full"
		></button>
	</div>
</app-responsive-dialog>
