<ng-container *ngIf="isLoadingView; else details">
	<div class="flex relative justify-center items-center w-full h-full pt-20">
		<div class="w-full max-w-3xl">
			<app-spinner text="Carregando"></app-spinner>
		</div>
	</div>
</ng-container>
<ng-template #details>
	<div class="revenue-view">
		<div class="content">
			<section class="revenue">
				<h2>Detalhe da receita</h2>

				<div class="main-card">
					<header>
						<h3 class="mb-4">
							{{ revenue?.nomeTitulo }}
						</h3>
						<div class="actions">
							<button
								pButton
								type="button"
								class="p-element h-10 p-button p-component p-button-outlined"
								(click)="navigateTo('revenue/edit/' + revenue.guidReferencia)"
							>
								Editar Título
							</button>
							<!--button pButton type="button" class="p-button-outlined h-7"
						(click)="navigateTo('client/register/'+ cliente.guidReferencia + '/Clone')">
							Duplicar
						</button-->
						</div>
					</header>

					<p-panel
						[header]="
							displayRevenueDetails ? 'Menos Detalhes' : 'Mais detalhes'
						"
						[toggleable]="true"
						[collapsed]="!displayRevenueDetails"
						(onBeforeToggle)="toggleDetalheBaixa()"
						styleClass="mt-3"
						*ngIf="isMobile"
					>
						<ng-container
							*ngTemplateOutlet="revenueInfoTemplate"
						></ng-container>
					</p-panel>

					<ng-container *ngIf="!isMobile">
						<ng-container
							*ngTemplateOutlet="revenueInfoTemplate"
						></ng-container>
					</ng-container>

					<ng-template #revenueInfoTemplate>
						<div class="revenue-info">
							<div class="revenue-data">
								<div class="data-label">Número do título</div>
								<div class="data-value">
									{{ revenue?.['numeroTitulo'] }}
								</div>
							</div>
							<div class="revenue-data">
								<div class="data-label">Classificação da Receita</div>
								<div class="data-value">
									{{ revenue?.['nomeTitulo'] }}
								</div>
							</div>
							<div class="revenue-data">
								<div class="data-label">Creditar para</div>
								<div class="data-value">
									{{ revenue?.['creditoAluguel'].nome }}
								</div>
							</div>
							<div class="revenue-data">
								<div class="data-label">Locatário</div>
								<div class="data-value">
									{{ revenue?.['cliente'].nome }}
								</div>
							</div>
							<div class="revenue-data">
								<div class="data-label">
									Data de vencimento da primeira parcela
								</div>
								<div class="data-value">
									{{ revenue?.['dataVencimentoPrimeraParcela'] | date : "shortDate" }}
								</div>
							</div>
							<div class="revenue-data">
								<div class="data-label">Forma de pagamento</div>
								<div class="data-value">
									{{ revenue?.['formaPagamento'].nome }}
								</div>
							</div>
							<div class="revenue-data">
								<div class="data-label">Valor a pagar</div>
								<div class="data-value">
									{{ revenue?.['valorTitulo'] | currency }}
								</div>
							</div>
							<div class="revenue-data">
								<div class="data-label">Valor total do título</div>
								<div class="data-value">
									{{ revenue?.['valorTotalTitulo'] | currency }}
								</div>
							</div>
						</div>
					</ng-template>
				</div>
			</section>

			<section class="fatura" *ngIf="revenue?.faturas?.length > 0">
				<header class="flex justify-between flex-wrap items-start mb-5">
					<h2 class="mb-2">Faturas</h2>
					<button
						pButton
						type="button"
						icon="pi pi-plus"
						iconPos="left"
						class="p-button-outlined icon-left h-9"
						(click)="showAddFatura()"
					>
						Nova fatura
					</button>
				</header>

				<p-table
					*ngIf="!isMobile; else faturaCardListTemplate"
					[value]="revenue?.faturas"
					styleClass="p-datatable-striped"
					[tableStyle]="{ 'min-width': '50rem' }"
				>
					<ng-template pTemplate="header">
						<tr>
							<th>Nº Parcela</th>
							<th>Valor da fatura</th>
							<th>Data do pagamento</th>
							<th>Dias de atraso</th>
							<th>Data de Vencimento</th>
							<th>Status do título</th>
							<th></th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-fatura>
						<tr>
							<td>{{ fatura.numeroParcela }}</td>
							<td>{{ fatura.valorFatura | currency }}</td>
							<td>{{ fatura.dataPagamento | date : "shortDate" }}</td>
							<td>
								{{
									fatura.diasAtraso
										? fatura.diasAtraso > 1
											? fatura.diasAtraso + " dias"
											: fatura.diasAtraso + " dia"
										: "0 dia"
								}}
							</td>
							<td>{{ fatura.dataVencimento | date : "shortDate" }}</td>
							<td>
								<ng-container
									*ngIf="
										fatura.statusFatura === 'Vencido' ||
										fatura.statusFatura === 'A vencer'
									"
								>
									<p-tag
										[value]="fatura.statusFatura"
										[rounded]="true"
										severity="danger"
										styleClass="w-20"
									></p-tag>
								</ng-container>
								<ng-container *ngIf="fatura.statusFatura === 'Pago'">
									<p-tag
										[value]="fatura.statusFatura"
										[rounded]="true"
										severity="success"
										styleClass="w-20"
									></p-tag>
								</ng-container>
								<ng-container *ngIf="fatura.statusFatura === 'Parcial'">
									<p-tag
										[value]="fatura.statusFatura"
										[rounded]="true"
										severity="warning"
										styleClass="w-20"
									></p-tag>
								</ng-container>
							</td>
							<td class="action w-[13rem] flex gap-2">
								<ng-container
									*ngIf="
										fatura.statusFatura === 'Vencido' ||
										fatura.statusFatura === 'A vencer'
									"
								>
									<button
										pButton
										type="button"
										class="p-button-filled h-9 grow justify-center text-sm"
										(click)="setCurrentFatura(fatura); showBaixaTitulo()"
									>
										Dar baixa
									</button>
								</ng-container>

								<ng-container
									*ngIf="
										fatura.statusFatura === 'Pago' ||
										fatura.statusFatura === 'Parcial'
									"
								>
									<button
										pButton
										type="button"
										class="p-button-filled h-9 grow justify-center text-sm"
										(click)="setCurrentFatura(fatura); showDetalheBaixa()"
									>
										Detalhes
									</button>
								</ng-container>
								<button
									pButton
									type="button"
									class="p-button-outlined h-9 justify-center text-sm"
									(click)="setCurrentFatura(fatura); showEditarBaixaVisible()"
								>
									Editar
								</button>
							</td>
						</tr>
					</ng-template>
				</p-table>

				<ng-template #faturaCardListTemplate>
					<div class="cardList">
						<ng-container *ngFor="let fatura of revenue?.faturas">
							<app-card-item
								[card]="{
									infos: [
										{
											label: 'Valor pago',
											data: fatura.valorFatura,
											pipe: cardPipes['currency']
										},
										{
											label: 'Data do pagamento',
											data: fatura.dataPagamento,
											pipe: cardPipes['date']
										},
										{
											label: 'Dias de atraso',
											data: fatura.diasAtraso
												? fatura.diasAtraso > 1
													? fatura.diasAtraso + ' dias'
													: fatura.diasAtraso + ' dia'
												: fatura.diasAtraso
										},
										{
											label: 'Data de Vencimento',
											data: fatura.dataVencimento,
											pipe: cardPipes['date']
										}
									],
									tags: [
										{
											value: fatura.statusFatura,
											severity:
												fatura.statusFatura === 'Baixa não efetuada'
													? 'danger'
													: fatura.statusFatura === 'Baixa não efetuada'
													? 'success'
													: 'neutral'
										}
									]
								}"
							>
								<button
									pButton
									type="button"
									class="p-button-outlined h-9 w-full justify-center text-sm"
									(click)="setCurrentFatura(fatura); showDetalheBaixa()"
									*ngIf="fatura.statusFatura !== 'Baixa não efetuada'"
								>
									Ver detalhes
								</button>
								<button
									pButton
									type="button"
									class="p-button-filled h-9 w-full justify-center text-sm"
									(click)="setCurrentFatura(fatura); showBaixaTitulo()"
									*ngIf="fatura.statusFatura === 'Baixa não efetuada'"
								>
									Emitir nota fiscal
								</button>
							</app-card-item>
						</ng-container>
					</div>
				</ng-template>
			</section>

			<section class="property" *ngIf="property">
				<h2>Imóvel vinculado na conta</h2>

				<div class="flex flex-col gap-6">
					<app-property-list [properties]="[property]"></app-property-list>
				</div>
			</section>
		</div>
	</div>
</ng-template>

<p-sidebar [(visible)]="detalheBaixaVisible" position="right">
	<ng-template pTemplate="header">
		<h2 class="text-xl font-bold">Detalhes da Baixa da Fatura</h2>
	</ng-template>
	<ng-template pTemplate="content">
		<app-detail-sidebar
			[data]="[
				{
					label: 'Título',
					data: faturaSelected?.numeroFatura,
					span: true
				},
				{
					label: 'Valor Pago',
					data: faturaSelected?.valorRealPago,
					pipe: cardPipes['currency']
				},
				{
					label: 'Dias de atraso',
					data: faturaSelected?.diasAtraso
						? faturaSelected?.diasAtraso > 1
							? faturaSelected?.diasAtraso + ' dias'
							: faturaSelected?.diasAtraso + ' dia'
						: faturaSelected?.diasAtraso,
					span: true
				},
				{
					label: '% de impostos retidos',
					data: 0,
					pipe: cardPipes['percent']
				},
				{
					label: 'Valor líquido',
					data: faturaSelected?.valorFatura,
					pipe: cardPipes['currency']
				},
				{
					label: 'Vencimento',
					data: faturaSelected?.dataVencimento,
					pipe: cardPipes['date']
				},
				{
					label: 'Data de pagamento',
					data: faturaSelected?.dataPagamento,
					pipe: cardPipes['date']
				},
				{
					label: 'Observação da baixa',
					data: faturaSelected?.descricaoBaixaFatura,
					span: true
				}
			]"
		></app-detail-sidebar>

		<h3 class="mt-3 font-bold">Anexo nota fiscal</h3>

		<div class="document-list">
			<app-upload-list
				[guid]="faturaSelected?.guidReferencia"
				[editable]="false"
			></app-upload-list>
		</div>

		<button
			pButton
			class="p-button-outlined w-full h-10 justify-center"
			(click)="hideDetalheBaixa()"
		>
			Fechar
		</button>
	</ng-template>
</p-sidebar>

<!--
!-->
<app-edicao-titulo-sidebar
	[data]="faturaSelected"
	[cancel]="hideBaixaTitulo"
	[onSubmitForm]="hideBaixaTitulo"
	[registerOnSubmit]="!!faturaSelected"
	[guidExpense]="faturaSelected?.guidReferencia"
	[(isVisible)]="editarBaixaVisible"
></app-edicao-titulo-sidebar>

<app-add-titulo-sidebar
	[data]="faturaSelected"
	[cancel]="hideAddFatura"
	[onSubmitForm]="hideAddFatura"
	[registerOnSubmit]="!!faturaSelected"
	[guidExpense]="guid"
	[(isVisible)]="addFaturaVisible"
></app-add-titulo-sidebar>

<p-sidebar [(visible)]="baixaTituloVisible" position="right">
	<ng-template pTemplate="header">
		<h2 class="text-xl font-bold">Baixa de Fatura</h2>
	</ng-template>
	<ng-template pTemplate="content">
		<app-baixa-titulo-sidebar
			[data]="getFaturaFormData(faturaSelected)"
			[cancel]="hideBaixaTitulo"
			[onSubmitForm]="hideBaixaTitulo"
			[registerOnSubmit]="true"
			[guidRevenue]="faturaSelected.guidReferencia"
		></app-baixa-titulo-sidebar>
	</ng-template>
</p-sidebar>
