<div class="property-view">
	<div class="cover"></div>

	<div class="content">
		<div class="main-card">
			<div class="left-side">
				<p-tag
					value="Imóvel da carteira"
					[rounded]="true"
					styleClass="wallet"
				></p-tag>
				<h4>
					Nome do edifício lorem ipsum <span class="property-id">#3124322</span>
				</h4>
				<p>Avenida São Paulo, 2803 - Centro, Mangaguá - SP</p>
				<div class="location">
					<app-icon name="pin-building" styleClass="mr-1"></app-icon>
					Edifício Corporativo
				</div>
			</div>
			<div class="right-side">
				<div class="property-features">
					<div class="feature">
						<div class="label">
							<app-icon name="door" styleClass="mr-1"></app-icon>
							Unidades
						</div>
						<div class="value">356</div>
					</div>
					<span class="feature">
						<div class="label">
							<app-icon name="area" styleClass="mr-1"></app-icon>
							Metragem total
						</div>
						<div class="value">1.321 m²</div>
					</span>
				</div>
			</div>
		</div>

		<section class="units">
			<div class="w-full flex justify-between">
				<h3>Unidades</h3>
				<button
					pButton
					type="button"
					icon="pi pi-plus"
					iconPos="left"
					class="p-button-outlined icon-left h-9"
				>
					Adicionar imóvel
				</button>
			</div>

			<p-table
				[value]="units"
				styleClass="p-datatable-striped"
				[tableStyle]="{ 'min-width': '50rem' }"
			>
				<ng-template pTemplate="header">
					<tr>
						<th>Nome</th>
						<th>Área Útil</th>
						<th>Área Total</th>
						<th>Área Habite-se</th>
						<th>Locação</th>
						<th>...</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-unit>
					<tr>
						<td>{{ unit.name }}</td>
						<td>{{ unit.area_usable }}</td>
						<td>{{ unit.area_total }}</td>
						<td>{{ unit.area_occupancy }}</td>
						<td class="w-52">
							<ng-container
								*ngIf="unit.lease_status === 'locada'; else disponivel"
							>
								<p-tag
									value="Unidade locada"
									[rounded]="true"
									severity="danger"
									styleClass="w-36"
								></p-tag>
							</ng-container>
							<ng-template #disponivel>
								<p-tag
									value="Unidade disponível"
									[rounded]="true"
									severity="success"
									styleClass="w-36"
								></p-tag>
							</ng-template>
						</td>
						<td class="action w-16">
							<button
								type="button"
								pButton
								icon="pi pi-ellipsis-v"
								class="p-button-rounded"
								(click)="actionMenu.toggle($event)"
							></button>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</section>

		<section class="attachments">
			<h3>Anexos</h3>

			<div class="attachments-card">
				<button type="button" class="attachment">
					<span class="icon">
						<app-icon name="att-proj" size="1.5rem"></app-icon>
					</span>
					<span class="label">Projeto</span>
				</button>
				<button type="button" class="attachment">
					<span class="icon">
						<app-icon name="att-mat" size="1.5rem"></app-icon>
					</span>
					<span class="label">Matrícula</span>
				</button>
				<button type="button" class="attachment">
					<span class="icon">
						<app-icon name="att-hab" size="1.5rem"></app-icon>
					</span>
					<span class="label">Habite-se</span>
				</button>
			</div>
		</section>

		<section class="photos">
			<h3>Fotos</h3>

			<div class="photos-grid">
				<ul>
					<li style="--image: url(.../../../assets/images/property/1.jpg)">
						<img src=".../../../assets/images/property/1.jpg" alt="photo-1" />
					</li>
					<li style="--image: url(.../../../assets/images/property/2.png)">
						<img src=".../../../assets/images/property/2.png" alt="photo-1" />
					</li>
					<li style="--image: url(.../../../assets/images/property/3.png)">
						<img src=".../../../assets/images/property/3.png" alt="photo-1" />
					</li>
					<li style="--image: url(.../../../assets/images/property/4.png)">
						<img src=".../../../assets/images/property/4.png" alt="photo-1" />
					</li>
					<li style="--image: url(.../../../assets/images/property/5.png)">
						<img src=".../../../assets/images/property/5.png" alt="photo-1" />
					</li>
					<li style="--image: url(.../../../assets/images/property/6.png)">
						<img src=".../../../assets/images/property/6.png" alt="photo-1" />
					</li>
					<li style="--image: url(.../../../assets/images/property/7.png)">
						<img src=".../../../assets/images/property/7.png" alt="photo-1" />
					</li>
				</ul>
			</div>
		</section>
	</div>
</div>

<p-menu #actionMenu [popup]="true" [model]="tableMenu"></p-menu>
