:host {
	display: block;
	height: 100%;

	.field {
		margin-top: 0.5rem;

		.p-inputtext {
			width: 100%;
		}

		::ng-deep {
			.p-calendar {
				width: 100%;

				.p-datepicker {
					display: none;
				}
			}
		}
	}
}

::ng-deep {
	.p-sidebar.p-sidebar-right {
		width: 26rem;
		max-width: 100vw;
	}
}
