<div class="content-wrapper">
	<div class="flex justify-between py-9">
		<h3 class="text-2xl font-bold">
			Lista de Imóveis
			<span class="ml-2 text-sm text-slate-600">{{ totalListCount }}</span>
		</h3>

		<div class="options">
			<span class="p-input-icon-left mx-2">
				<i class="pi pi-search"></i>
				<input
					pInputText
					[(ngModel)]="filterText"
					(ngModelChange)="filterPropertiesDebounce($event)"
					type="text"
					placeholder="Buscar imóvel"
				/>
			</span>
			<p-dropdown
				class="mx-2"
				placeholder="Tipo de imóvel"
				[options]="categoryOptions"
				[(ngModel)]="filterCategory"
				(ngModelChange)="filterProperties($event)"
			></p-dropdown>
			<p-dropdown
				class="mx-2"
				placeholder="Proprietário"
				[options]="proprietaryOptions"
				[(ngModel)]="filterProprietary"
				(ngModelChange)="filterProperties($event)"
			></p-dropdown>
			<p-dropdown class="mx-2 mr-4" placeholder="Bairro"></p-dropdown>
			<button
				pButton
				type="button"
				class="p-button-outlined h-9"
				(click)="navigateTo('property/register')"
			>
				<i class="pi pi-plus mr-3"></i>
				Adicionar imóvel
			</button>
		</div>
	</div>

	<ng-container *ngIf="!noRestults; else noResults">
		<app-property-list
			[properties]="properties"
			[totalRecords]="totalListCount"
			[pageSize]="rows"
			[pageIndex]="pageIndex"
			[isLoading]="isLoadingList"
			[showPaginator]="showPaginator"
			[onPaginate]="paginate"
		></app-property-list>
	</ng-container>
	<ng-template #noResults>
		<div class="no-results-warn">
			<span>Nenhum resultado</span>
		</div>
	</ng-template>
</div>
