<div class="alert-message" *ngIf="invalidGuid || isLoading; else content">
	<div class="loading" *ngIf="isLoading">
		<app-spinner></app-spinner>
	</div>
	<div
		class="invalid flex justify-center items-center h-full"
		*ngIf="invalidGuid"
	>
		<div class="bg-white rounded border border-slate-200">
			<div class="text-center w-full text-xl font-bold p-20 text-red-600">
				Não foi possível carregar dados da obra
			</div>
		</div>
	</div>
</div>

<ng-template #content>
	<div class="edit-form">
		<h1 class="text-2xl font-bold mb-6">Editar Despesa</h1>

		<div class="input-wrapper">
			<section class="expense-data">
				<h4>Edifício da Despesa</h4>

				<div class="field">
					<label for="name" class="block">Tipo do imóvel</label>
					<input
						id="name"
						type="text"
						[value]='imovelTitulo.idCategoriaImovelNavigation?.nome'
						aria-describedby="name-help"
						maxlength="100"
						pInputText
						[disabled]="true"
					/>
				</div>

				<div class="field">
					<label for="name" class="block">Edifício</label>
					<input
						id="name"
						type="text"
						[value]='imovelTitulo?.nome'
						aria-describedby="name-help"
						maxlength="100"
						pInputText
						[disabled]="true"
					/>
				</div>

				<div class="photo-input">
					<img
						[src]="
							croppedCover
								? croppedCover
								: defaultCoverImage ??
								  '../../../../assets/images/imovel-placeholder.png'
						"
						alt="cover-photo"
						class="coverPhoto"
					/>

				</div>

				<p>{{ imovelTitulo.imovelEndereco?.[0]?.rua ?? '' }} -
					{{ imovelTitulo.imovelEndereco?.[0]?.uf }}</p>
			</section>
			<form class="edit-form" [formGroup]="editForm" (ngSubmit)="onSubmit($event)">
				<section class="aditional-data">
					<div class="field">
						<label for="nomeConta" class="block">Nome da conta</label>
						<input
							id="nomeConta"
							type="text"
							formControlName="nomeConta"
							aria-describedby="nomeConta-help"
							maxlength="100"
							pInputText
						/>
						<ng-container *ngIf="checkHasError(f['nomeConta'])">
							<small
								id="nomeConta-help"
								*ngIf="f['nomeConta'].hasError('required'); else error2"
								class="p-error block"
							>
								Informe o nome da conta
							</small>
							<ng-template #error2>
								<small id="nomeConta-help" class="p-error block">
									Nome inválido
								</small>
							</ng-template>
						</ng-container>
					</div>

					<div class="field">
						<label for="planoContas" class="block">Plano de Contas</label>
						<p-dropdown
							id="planoContas"
							[options]="opcoesPlanoContas"
							filterBy="label"
							formControlName="planoContas"
							aria-describedby="planoContas-help"
						></p-dropdown>
						<ng-container *ngIf="checkHasError(f['planoContas'])">
							<small
								id="planoContas-help"
								*ngIf="f['planoContas'].hasError('required'); else error2"
								class="p-error block"
							>
								Informe o plano de Contas
							</small>
							<ng-template #error2>
								<small id="planoContas-help" class="p-error block">
									Plano de Contas inválido
								</small>
							</ng-template>
						</ng-container>
					</div>

					<!--div class="field">
						<label for="creditarPara" class="block">Creditar para</label>
						<p-dropdown
							id="creditarPara"
							[options]="opcoesCreditarPara"
							filterBy="label"
							formControlName="creditarPara"
							aria-describedby="creditarPara-help"
						></p-dropdown>
						<ng-container *ngIf="checkHasError(f['creditarPara'])">
							<small
								id="creditarPara-help"
								*ngIf="f['creditarPara'].hasError('required'); else error2"
								class="p-error block"
							>
								Informe a quem creditar
							</small>
							<ng-template #error2>
								<small id="creditarPara-help" class="p-error block">
									Crédito inválido
								</small>
							</ng-template>
						</ng-container>
					</div-->

					<div class="field">
						<label for="locatario" class="block">Locatário</label>
						<p-dropdown
							id="locatario"
							[options]="opcoesLocatario"
							filterBy="label"
							formControlName="locatario"
							aria-describedby="locatario-help"
						></p-dropdown>
						<ng-container *ngIf="checkHasError(f['locatario'])">
							<small
								id="locatario-help"
								*ngIf="f['locatario'].hasError('required'); else error2"
								class="p-error block"
							>
								Informe o Locatário
							</small>
							<ng-template #error2>
								<small id="locatario-help" class="p-error block">
									Locatário inválido
								</small>
							</ng-template>
						</ng-container>
					</div>

					<div class="field">
						<label for="formaPagamento" class="block">
							Forma de pagamento
						</label>
						<p-dropdown
							id="formaPagamento"
							[options]="opcoesFormaPagamento"
							filterBy="label"
							formControlName="formaPagamento"
							aria-describedby="formaPagamento-help"
						></p-dropdown>
						<ng-container *ngIf="checkHasError(f['formaPagamento'])">
							<small
								id="formaPagamento-help"
								*ngIf="f['formaPagamento'].hasError('required'); else error2"
								class="p-error block"
							>
								Informe a forma de pagamento
							</small>
							<ng-template #error2>
								<small id="formaPagamento-help" class="p-error block">
									Forma de pagamento inválida
								</small>
							</ng-template>
						</ng-container>
					</div>

					<div class="field">
						<label for="dataVencimento" class="block">Vencimento Primeira Parcela</label>
						<p-calendar
							id="dataVencimento"
							formControlName="dataVencimento"
							dateFormat="dd/mm/yy"
							(onInput)="onInputDate($event)"
							(onBlur)="onBlurDate()"
							placeholder="dd/mm/aaaa"
							aria-describedby="dataVencimento-help"
							panelStyleClass="hidden"
						></p-calendar>
						<ng-container *ngIf="checkHasError(f['dataVencimento'])">
							<small
								id="dataVencimento-help"
								*ngIf="f['dataVencimento'].hasError('required'); else error2"
								class="p-error block"
							>
								Informe a data de vencimento
							</small>
							<ng-template #error2>
								<small id="dataVencimento-help" class="p-error block">
									Data de vencimento inválida
								</small>
							</ng-template>
						</ng-container>
					</div>

					<div class="field">
						<label for="valorTitulo" class="block">Valor do título</label>
						<input
							id="valorTitulo"
							type="text"
							formControlName="valorTitulo"
							aria-describedby="valorTitulo-help"
							currencyMask
							pInputText
						/>
						<ng-container *ngIf="checkHasError(f['valorTitulo'])">
							<small
								id="valorTitulo-help"
								*ngIf="f['valorTitulo'].hasError('required'); else error2"
								class="p-error block"
							>
								Informe o valor do título
							</small>
							<ng-template #error2>
								<small id="valorTitulo-help" class="p-error block">
									Valor do título inválido
								</small>
							</ng-template>
						</ng-container>
					</div>

					<div class="field">
						<label for="impostos" class="block">Impostos</label>
						<input
							id="impostos"
							type="text"
							formControlName="impostos"
							aria-describedby="impostos-help"
							mask="percent"
							suffix="%"
							[dropSpecialCharacters]="false"
							pInputText
						/>
						<ng-container *ngIf="checkHasError(f['impostos'])">
							<small
								id="impostos-help"
								*ngIf="f['impostos'].hasError('required'); else error2"
								class="p-error block"
							>
								Informe os impostos
							</small>
							<ng-template #error2>
								<small id="impostos-help" class="p-error block">
									Impostos inválidos
								</small>
							</ng-template>
						</ng-container>
					</div>
				</section>
				<div class="form-actions">
					<button
						pButton
						type="button"
						label="Voltar"
						class="p-button-text h-11"
						(click)="goBack()"
					></button>
		
					<button
						pButton
						pRipple
						type="button"
						label="Cancelar"
						class="p-button-outlined h-11"
						(click)="navigateTo('expense/details/' + expenseGuid)"
					></button>
		
					<button
						pButton
						type="submit"
						label="Continuar"
						class="h-11"
					></button>
				</div>
			</form>
		</div>
	</div>
</ng-template>

<app-responsive-dialog [visible]="displayModal" styleClass="form-modal">
	<div *ngIf="!modalContent.isError; else error" class="modal-success">
		<h2 *ngIf="modalContent.header">{{ modalContent.header }}</h2>
		<i class="ph-check-circle"></i>
		<p>
			{{ modalContent.message }}
		</p>
		<button
			pButton
			label="Continuar"
			(click)="closeModal(navigateTo, 'expense/details/' + expenseGuid)"
		></button>
	</div>
	<ng-template #error>
		<div class="modal-error">
			<h2 *ngIf="modalContent.header">{{ modalContent.header }}</h2>
			<i class="ph-x-circle"></i>
			<p>
				{{ modalContent.message }}
			</p>
			<button pButton label="Continuar" (click)="closeModal()"></button>
		</div>
	</ng-template>
</app-responsive-dialog>
