<!-- <p class="text-3xl font-bold">criar minha home pagiiii</p>

<h1>{{ loggedUser.name }}</h1>
<h2>{{ loggedUser.email }}</h2>
<h3>{{ loggedUser.perfil }}</h3> -->
<div class="wrapper py-10 flex justify-center">
	<div class="container">
		<div class="card-grid" *ngIf="isFormEditable">
			<div class="card">
				<h4>Vacância</h4>
				<hr />
				<button
					type="button"
					class="p-button-outlined h-10 mt-8"
					label="Ver Detalhes"
					(click)="navigateTo('dashboard/financial-vacancy')"
					pButton
				></button>
			</div>
			<div class="card">
				<h4>Performance de Recebimento</h4>
				<hr />
				<button
					type="button"
					class="p-button-outlined h-10 mt-8"
					label="Ver Detalhes"
					(click)="navigateTo('dashboard/receiving-performance')"
					pButton
				></button>
			</div>
			<div class="card">
				<h4>Preço m²</h4>
				<hr />
				<button
					type="button"
					class="p-button-outlined h-10 mt-8"
					label="Ver Detalhes"
					(click)="navigateTo('dashboard/area-price')"
					pButton
				></button>
			</div>
			<div class="card">
				<h4>Total m³ Gerenciados</h4>
				<hr />
				<button
					type="button"
					class="p-button-outlined h-10 mt-8"
					label="Ver Detalhes"
					(click)="navigateTo('dashboard/managed-area')"
					pButton
				></button>
			</div>
			<div class="card">
				<h4>DIMOB</h4>
				<hr />
				<button
					type="button"
					class="p-button-outlined h-10 mt-8"
					label="Ver Detalhes"
					(click)="navigateTo('property/listing')"
					pButton
				></button>
			</div>
			<div class="card">
				<h4>Receitas x Despesas</h4>
				<hr />
				<button
					type="button"
					class="p-button-outlined h-10 mt-8"
					label="Ver Detalhes"
					(click)="navigateTo('property/listing')"
					pButton
				></button>
			</div>
			<div class="card">
				<h4>Contas Pagas e à Pagar</h4>
				<hr />
				<button
					type="button"
					class="p-button-outlined h-10 mt-8"
					label="Ver Detalhes"
					(click)="navigateTo('report/costs')"
					pButton
				></button>
			</div>
			<div class="card">
				<h4>Contas Recebidas e à Receber</h4>
				<hr />
				<button
					type="button"
					class="p-button-outlined h-10 mt-8"
					label="Ver Detalhes"
					(click)="navigateTo('report/receipts')"
					pButton
				></button>
			</div>
		</div>
		<div class="my-5">
			<button class="p-button-outlined h-9" (click)="sair()" pButton>
				Sair
			</button>
		</div>
	</div>
</div>
