<form
	class="register-form"
	[formGroup]="registerForm"
	(ngSubmit)="onSubmit($event)"
>
	<div class="input-wrapper">
		<section class="form-details">
			<h4>Adicionar novo imóvel</h4>
			<app-form-steps
				[list]="stepList"
				[callback]="changeStepCb"
			></app-form-steps>
		</section>

		<!-- ------------------------------------------------------------------------ -->
		<!-- ------------------------------------------------------------------------ -->
		<!-- STEP 1 -->
		<!-- ------------------------------------------------------------------------ -->
		<!-- ------------------------------------------------------------------------ -->
		<section *ngIf="currentStep === 1" class="form-data">
			<h4>Edifício</h4>
			<p>
				Primeiro adicione as informações necessárias para começar o cadastro do
				imóvel.
			</p>

			<div formGroupName="propertyType">
				<div class="field">
					<label for="name" class="block">Nome do imóvel</label>
					<input
						id="name"
						type="text"
						formControlName="name"
						aria-describedby="name-help"
						maxlength="100"
						pInputText
					/>
					<ng-container *ngIf="checkHasError(f['name'])">
						<small
							id="name-help"
							*ngIf="f['name'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o nome do imóvel
						</small>
						<ng-template #error2>
							<small id="name-help" class="p-error block">
								Nome do imóvel inválido
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="proprietary" class="block">Proprietário</label>
					<p-dropdown
						id="proprietary"
						[options]="proprietaries"
						[filter]="true"
						filterBy="cpfCnpj"
						formControlName="proprietary"
						aria-describedby="proprietary-help"
					></p-dropdown>
					<ng-container *ngIf="checkHasError(f['proprietary'])">
						<small
							id="proprietary-help"
							*ngIf="f['proprietary'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o proprietário
						</small>
						<ng-template #error2>
							<small id="proprietary-help" class="p-error block">
								Proprietário inválido
							</small>
						</ng-template>
					</ng-container>
				</div>
				<div
					class="flex flex-col md:flex-row justify-between text-sm font-medium mb-6"
				>
					<span>Não encontrou proprietário?</span>
					<p-button
						icon="pi pi-plus"
						label="Adicionar novo proprietário"
						styleClass="p-button-text text-sm add-proprietary-button"
						(click)="registerProprietaryVisible = true"
					></p-button>
				</div>

				<div class="field">
					<label for="cost-centre" class="block">N° do centro de custo</label>
					<input
						id="cost-centre"
						type="text"
						formControlName="costCentre"
						aria-describedby="cost-centre-help"
						mask="0*"
						maxlength="18"
						pInputText
					/>
					<ng-container *ngIf="checkHasError(f['costCentre'])">
						<small
							id="cost-centre-help"
							*ngIf="f['costCentre'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o n° do centro de custo
						</small>
						<ng-template #error2>
							<small id="cost-centre-help" class="p-error block">
								N° do centro de custo inválido
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="Cep" class="block">CEP</label>
					<span class="p-input-icon-right w-full">
						<i class="pi pi-spin pi-spinner" *ngIf="isLoadingCep"></i>
						<input
							id="Cep"
							type="text"
							formControlName="zipcode"
							aria-describedby="cep-help"
							pInputText
							mask="00.000-000"
							(blur)="setAddressByCEP($event)"
						/>
					</span>
					<ng-container *ngIf="checkHasError(f['zipcode'])">
						<small
							id="cep-help"
							*ngIf="f['zipcode'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o CEP do endereço
						</small>
						<ng-template #error2>
							<small id="cep-help" class="p-error block"> CEP inválido </small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="Endereco" class="block">Endereço</label>
					<input
						id="Endereco"
						type="text"
						formControlName="street"
						aria-describedby="Endereco-help"
						pInputText
						maxlength="100"
					/>
					<ng-container *ngIf="checkHasError(f['street'])">
						<small
							id="Endereco-help"
							*ngIf="f['street'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o Endereco do cliente
						</small>
						<ng-template #error2>
							<small id="Endereco-help" class="p-error block">
								Endereco inválido
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="Bairro" class="block">Bairro</label>
					<input
						id="Bairro"
						type="text"
						formControlName="neighborhood"
						aria-describedby="Bairro-help"
						pInputText
						maxlength="50"
					/>
					<ng-container *ngIf="checkHasError(f['neighborhood'])">
						<small
							id="Bairro-help"
							*ngIf="f['neighborhood'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o Bairro do cliente
						</small>
						<ng-template #error2>
							<small id="Bairro-help" class="p-error block">
								Bairro inválido
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="Cidade" class="block">Cidade</label>
					<input
						id="Cidade"
						type="text"
						formControlName="city"
						aria-describedby="Cidade-help"
						pInputText
						maxlength="50"
					/>
					<ng-container *ngIf="checkHasError(f['city'])">
						<small
							id="Cidade-help"
							*ngIf="f['city'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o Cidade do cliente
						</small>
						<ng-template #error2>
							<small id="Cidade-help" class="p-error block">
								Cidade inválido
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="Estado" class="block">Estado</label>
					<p-dropdown
						id="Estado"
						[options]="dropdownUfList"
						formControlName="state"
						aria-describedby="Estado-help"
					></p-dropdown>
					<ng-container *ngIf="checkHasError(f['state'])">
						<small
							id="Estado-help"
							*ngIf="f['state'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o Estado do cliente
						</small>
						<ng-template #error2>
							<small id="Estado-help" class="p-error block">
								Estado inválido
							</small>
						</ng-template>
					</ng-container>
				</div>
			</div>
		</section>

		<!-- ------------------------------------------------------------------------ -->
		<!-- ------------------------------------------------------------------------ -->
		<!-- STEP 2 -->
		<!-- ------------------------------------------------------------------------ -->
		<!-- ------------------------------------------------------------------------ -->
		<section *ngIf="currentStep === 2" class="form-data">
			<div formGroupName="legalInfo">
				<h4>Unidades</h4>
				<p>
					Agora adicione as informações necessárias para começar o cadastro do
					imóvel.
				</p>

				<div class="field">
					<label for="unitType" class="block">Tipo da unidade</label>
					<p-dropdown
						id="unit-type"
						[options]="unitTypes"
						formControlName="unitType"
						aria-describedby="unit-type-help"
						(ngModelChange)="updateStepValidity()"
					></p-dropdown>
					<ng-container *ngIf="checkHasError(f['unitType'])">
						<small
							id="unit-type-help"
							*ngIf="f['unitType'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o tipo de unidade
						</small>
						<ng-template #error2>
							<small id="unit-type-help" class="p-error block">
								Tipo de unidade inválido
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="description" class="block">Descrição da unidade</label>
					<input
						id="description"
						type="text"
						formControlName="description"
						aria-describedby="description-help"
						maxlength="150"
						pInputText
					/>
					<ng-container *ngIf="checkHasError(f['description'])">
						<small
							id="description-help"
							*ngIf="f['description'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe a descrição da unidade
						</small>
						<ng-template #error2>
							<small id="description-help" class="p-error block">
								Descrição inválida
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="registration" class="block">Número da matrícula</label>
					<input
						id="registration"
						type="text"
						formControlName="registration"
						aria-describedby="registration-help"
						maxlength="16"
						pInputText
					/>
					<ng-container *ngIf="checkHasError(f['registration'])">
						<small
							id="registration-help"
							*ngIf="f['registration'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o número da matrícula
						</small>
						<ng-template #error2>
							<small id="registration-help" class="p-error block">
								Número da matrícula inválido
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="iptu" class="block">IPTU</label>
					<input
						id="iptu"
						type="text"
						formControlName="iptu"
						aria-describedby="iptu-help"
						maxlength="16"
						pInputText
					/>
					<ng-container *ngIf="checkHasError(f['iptu'])">
						<small
							id="iptu-help"
							*ngIf="f['iptu'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o IPTU
						</small>
						<ng-template #error2>
							<small id="iptu-help" class="p-error block">
								IPTU inválido
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="neoenergia" class="block"
						>N° identificação Neoenergia</label
					>
					<input
						id="neoenergia"
						type="text"
						formControlName="neoenergia"
						aria-describedby="neoenergia-help"
						maxlength="16"
						pInputText
					/>
					<ng-container *ngIf="checkHasError(f['neoenergia'])">
						<small
							id="neoenergia-help"
							*ngIf="f['neoenergia'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o n° de identificação Neoenergia
						</small>
						<ng-template #error2>
							<small id="neoenergia-help" class="p-error block">
								N° de identificação inválido
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="caesb" class="block">N° identificação CAESB</label>
					<input
						id="caesb"
						type="text"
						formControlName="caesb"
						aria-describedby="caesb-help"
						maxlength="16"
						pInputText
					/>
					<ng-container *ngIf="checkHasError(f['caesb'])">
						<small
							id="caesb-help"
							*ngIf="f['caesb'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o n° de identificação CAESB
						</small>
						<ng-template #error2>
							<small id="caesb-help" class="p-error block">
								N° de identificação inválido
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="administration" class="block"
						>Taxa de administração</label
					>
					<input
						id="administration"
						type="text"
						formControlName="administration"
						aria-describedby="administration-help"
						mask="percent"
						suffix="%"
						pInputText
					/>
					<ng-container *ngIf="checkHasError(f['administration'])">
						<small
							id="administration-help"
							*ngIf="f['administration'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe a taxa de administração
						</small>
						<ng-template #error2>
							<small id="administration-help" class="p-error block">
								Taxa de administração inválida
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="potential" class="block">Valor potencial</label>
					<input
						id="potential"
						type="text"
						formControlName="potential"
						aria-describedby="potential-help"
						maxlength="14"
						currencyMask
						pInputText
					/>
					<ng-container *ngIf="checkHasError(f['potential'])">
						<small
							id="potential-help"
							*ngIf="f['potential'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o valor potencial
						</small>
						<ng-template #error2>
							<small id="potential-help" class="p-error block">
								Valor potencial inválido
							</small>
						</ng-template>
					</ng-container>
				</div>
			</div>

			<ng-container
				*ngIf="
					this.legalInfoForm.controls['unitType'].value === 1 ||
					this.legalInfoForm.controls['unitType'].value === 2 ||
					this.legalInfoForm.controls['unitType'].value === 3
				"
			>
				<div formGroupName="edCorpSalaPavInfo">
					<div class="field mt-6">
						<label for="area-total" class="block">Área total</label>
						<input
							id="area-total"
							type="text"
							formControlName="areaTotal"
							aria-describedby="area-total-help"
							suffix=" m²"
							mask="separator.2"
							maxlength="14"
							pInputText
						/>
						<ng-container
							*ngIf="
								checkHasError(
									this.propertyTypeEdCorpSalaPavForm.controls['areaTotal']
								)
							"
						>
							<small
								id="area-total-help"
								*ngIf="
									this.propertyTypeEdCorpSalaPavForm.controls[
										'areaTotal'
									].hasError('required');
									else error2
								"
								class="p-error block"
							>
								Informe a área total
							</small>
							<ng-template #error2>
								<small id="area-total-help" class="p-error block">
									Área total inválida
								</small>
							</ng-template>
						</ng-container>
					</div>
				</div>
			</ng-container>

			<ng-container
				*ngIf="
					this.legalInfoForm.controls['unitType'].value === 2 ||
					this.legalInfoForm.controls['unitType'].value === 3
				"
			>
				<div formGroupName="salaPavInfo">
					<div class="field mt-6">
						<label for="area-usable" class="block">Área útil</label>
						<input
							id="area-usable"
							type="text"
							formControlName="areaUsable"
							aria-describedby="area-usable-help"
							suffix=" m²"
							mask="separator.2"
							maxlength="14"
							pInputText
						/>
						<ng-container
							*ngIf="
								checkHasError(
									this.propertyTypeSalaPavForm.controls['areaUsable']
								)
							"
						>
							<small
								id="area-usable-help"
								*ngIf="
									this.propertyTypeSalaPavForm.controls['areaUsable'].hasError(
										'required'
									);
									else error2
								"
								class="p-error block"
							>
								Informe a área útil
							</small>
							<ng-template #error2>
								<small id="area-usable-help" class="p-error block">
									Área útil inválida
								</small>
							</ng-template>
						</ng-container>
					</div>

					<div class="field">
						<label for="area-occupancy" class="block">Área Habite-se</label>
						<input
							id="area-occupancy"
							type="text"
							formControlName="areaOccupancy"
							aria-describedby="area-occupancy-help"
							suffix=" m²"
							mask="separator.2"
							maxlength="14"
							pInputText
						/>
						<ng-container
							*ngIf="
								checkHasError(
									this.propertyTypeSalaPavForm.controls['areaOccupancy']
								)
							"
						>
							<small
								id="area-occupancy-help"
								*ngIf="
									this.propertyTypeSalaPavForm.controls[
										'areaOccupancy'
									].hasError('required');
									else error2
								"
								class="p-error block"
							>
								Informe a área Habite-se
							</small>
							<ng-template #error2>
								<small id="area-occupancy-help" class="p-error block">
									Área Habite-se inválida
								</small>
							</ng-template>
						</ng-container>
					</div>
				</div>
			</ng-container>

			<ng-container
				*ngIf="
					this.legalInfoForm.controls['unitType'].value === 2 ||
					this.legalInfoForm.controls['unitType'].value === 3
				"
			>
				<div formGroupName="legalInfoSalaPav">
					<div class="my-4">
						<p-checkbox
							formControlName="hasCopies"
							[binary]="true"
							inputId="binary"
							(ngModelChange)="changeHasCopies($event)"
						></p-checkbox>
						<label class="ml-1" for="binary">
							Quero criar cópias dessas unidades
						</label>
					</div>

					<div
						class="field"
						*ngIf="legalInfoSalaPavForm.controls['hasCopies'].value"
					>
						<label for="copies" class="block">Quantas cópias?</label>
						<input
							id="copies"
							type="text"
							formControlName="copies"
							aria-describedby="copies-help"
							mask="0*"
							maxlength="9"
							pInputText
						/>
						<ng-container
							*ngIf="checkHasError(legalInfoSalaPavForm.controls['copies'])"
						>
							<small
								id="copies-help"
								*ngIf="
									legalInfoSalaPavForm.controls['copies'].hasError('copies');
									else error2
								"
								class="p-error block"
							>
								Informe o número de cópias
							</small>
							<ng-template #error2>
								<small id="copies-help" class="p-error block">
									Número de cópias inválido
								</small>
							</ng-template>
						</ng-container>
					</div>
				</div>
			</ng-container>
		</section>

		<!-- ------------------------------------------------------------------------ -->
		<!-- ------------------------------------------------------------------------ -->
		<!-- STEP 3 -->
		<!-- ------------------------------------------------------------------------ -->
		<!-- ------------------------------------------------------------------------ -->
		<section
			*ngIf="currentStep === 3"
			class="form-data"
			formGroupName="legalInfo"
		>
			<h4>Anexos</h4>
			<p>
				Para finalizar adicione os documentos necessários para começar o
				cadastro do imóvel.
			</p>

			<app-file-upload
				name="uploadDoc"
				[fileLimit]="10"
				(selectEvent)="onFileSelect($event)"
				accept=".xls, .doc, .pdf, .xlsx, .docx"
			></app-file-upload>

			<!-- OLD FILEUPLOAD -->
			<!-- 
			<div class="field">
				<label for="occupancy" class="block">Habite-se</label>
				<p-fileUpload
					id="occupancy"
					mode="basic"
					name="habitese"
					accept="application/*"
					[chooseLabel]="
						isMobile
							? 'Clique para fazer o upload'
							: 'Arraste ou clique para fazer o upload'
					"
					chooseIcon="pi-upload"
					[maxFileSize]="1000000"
					(onSelect)="onSelect($event, 'habitese')"
				></p-fileUpload>
				<ng-container *ngIf="checkHasError(f['occupancy'])">
					<small
						id="occupancy-help"
						*ngIf="f['occupancy'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe o Habite-se
					</small>
					<ng-template #error2>
						<small id="occupancy-help" class="p-error block">
							Habite-se inválido
						</small>
					</ng-template>
				</ng-container>
			</div>

			<div class="field">
				<label for="project" class="block">Projeto</label>
				<p-fileUpload
					id="project"
					mode="basic"
					name="projeto"
					accept="application/*"
					[chooseLabel]="
						isMobile
							? 'Clique para fazer o upload'
							: 'Arraste ou clique para fazer o upload'
					"
					chooseIcon="pi-upload"
					[maxFileSize]="1000000"
					(onSelect)="onSelect($event, 'projeto')"
				></p-fileUpload>
				<ng-container *ngIf="checkHasError(f['project'])">
					<small
						id="project-help"
						*ngIf="f['project'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe o projeto
					</small>
					<ng-template #error2>
						<small id="project-help" class="p-error block">
							Projeto inválido
						</small>
					</ng-template>
				</ng-container>
			</div>

			<div class="field">
				<label for="registration" class="block">Matrícula</label>
				<p-fileUpload
					id="registration"
					mode="basic"
					name="matricula"
					accept="application/*"
					[chooseLabel]="
						isMobile
							? 'Clique para fazer o upload'
							: 'Arraste ou clique para fazer o upload'
					"
					chooseIcon="pi-upload"
					[maxFileSize]="1000000"
					(onSelect)="onSelect($event, 'matricula')"
				></p-fileUpload>
				<ng-container *ngIf="checkHasError(f['registration'])">
					<small
						id="registration-help"
						*ngIf="f['registration'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe a matrícula
					</small>
					<ng-template #error2>
						<small id="registration-help" class="p-error block">
							Matrícula inválida
						</small>
					</ng-template>
				</ng-container>
			</div>

			<div class="field">
				<label for="others" class="block">Outros documentos</label>
				<p-fileUpload
					id="others"
					mode="basic"
					name="outrosdocs[]"
					url="./upload"
					accept="application/*"
					[chooseLabel]="
						isMobile
							? 'Clique para fazer o upload'
							: 'Arraste ou clique para fazer o upload'
					"
					chooseIcon="pi-upload"
					[maxFileSize]="1000000"
					(onSelect)="onSelect($event, 'outrosdocs')"
				></p-fileUpload>
				<ng-container *ngIf="checkHasError(f['others'])">
					<small
						id="others-help"
						*ngIf="f['others'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe os outros documentos
					</small>
					<ng-template #error2>
						<small id="others-help" class="p-error block">
							Documentos inválidos
						</small>
					</ng-template>
				</ng-container>
			</div> -->
		</section>
	</div>
	<div class="form-actions">
		<button
			pButton
			type="button"
			label="Voltar"
			class="p-button-text h-11"
			(click)="prevStep()"
		></button>

		<button
			pButton
			pRipple
			type="button"
			label="Cancelar"
			(click)="navigateTo('property/listing')"
			class="p-button-outlined h-11"
		></button>

		<button
			pButton
			type="button"
			label="Continuar"
			class="h-11"
			(click)="nextStep()"
		></button>
	</div>
</form>

<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->
<!-- REGISTRO DE PROPRIETÁRIO (SIDEBAR) -->
<!-- ------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------ -->

<form [formGroup]="registerProprietaryForm" *ngIf="registerProprietaryVisible">
	<p-sidebar [(visible)]="registerProprietaryVisible" position="right">
		<ng-template pTemplate="header">
			<h4>Adicionar novo proprietário</h4>
		</ng-template>
		<ng-template pTemplate="content">
			<div class="register-proprietary-form">
				<div class="field">
					<label for="client-type" class="block">Tipo de cliente</label>
					<p-dropdown
						id="client-type"
						[options]="proprietaryTypes"
						formControlName="tipoCliente"
						aria-describedby="client-type-help"
						(onChange)="proprietaryTypeChange()"
					></p-dropdown>
					<ng-container *ngIf="checkHasError(f['tipoCliente'])">
						<small
							id="client-type-help"
							*ngIf="f['tipoCliente'].hasError('required'); else error2"
							class="p-error block"
						>
							Informe o tipo de cliente
						</small>
						<ng-template #error2>
							<small id="client-type-help" class="p-error block">
								Tipo de cliente inválido
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="name" class="block">Nome</label>
					<input
						id="name"
						type="text"
						formControlName="name"
						aria-describedby="name-help"
						maxlength="100"
						pInputText
					/>
					<ng-container
						*ngIf="checkHasError(registerProprietaryForm.controls['name'])"
					>
						<small
							id="name-help"
							*ngIf="
								registerProprietaryForm.controls['name'].hasError('required');
								else error2
							"
							class="p-error block"
						>
							Informe o nome do proprietário
						</small>
						<ng-template #error2>
							<small id="name-help" class="p-error block">
								Nome inválido
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="cpf-cnpj" class="block">{{ currCpfCnpj }}</label>
					<input
						id="cpf-cnpj"
						type="text"
						formControlName="cpfCnpj"
						aria-describedby="cpf-cnpj-help"
						[mask]="CpfCnpjMask"
						pInputText
					/>
					<ng-container
						*ngIf="checkHasError(registerProprietaryForm.controls['cpfCnpj'])"
					>
						<small
							id="cpf-cnpj-help"
							*ngIf="
								registerProprietaryForm.controls['cpfCnpj'].hasError(
									'required'
								);
								else error2
							"
							class="p-error block"
						>
							Informe o CPF/CNPJ
						</small>
						<ng-template #error2>
							<small id="cpf-cnpj-help" class="p-error block">
								CPF/CNPJ inválido
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field" *ngIf="!isCnpj">
					<label for="birthday" class="block">Nascimento</label>
					<p-calendar
						id="birthday"
						formControlName="birthday"
						styleClass="no-popup"
						dateFormat="dd/mm/yy"
						(onInput)="onInputDate($event)"
						(onBlur)="onBlurDate()"
						placeholder="dd/mm/aaaa"
						aria-describedby="birthday-help"
					></p-calendar>
					<ng-container
						*ngIf="checkHasError(registerProprietaryForm.controls['birthday'])"
					>
						<small
							id="birthday-help"
							*ngIf="
								registerProprietaryForm.controls['birthday'].hasError(
									'required'
								);
								else error2
							"
							class="p-error block"
						>
							Informe a data de nascimento
						</small>
						<ng-template #error2>
							<small id="birthday-help" class="p-error block">
								Data de nascimento inválida
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="email" class="block">Email</label>
					<input
						id="email"
						type="text"
						formControlName="email"
						aria-describedby="email-help"
						maxlength="150"
						pInputText
					/>
					<ng-container
						*ngIf="checkHasError(registerProprietaryForm.controls['email'])"
					>
						<small
							id="email-help"
							*ngIf="
								registerProprietaryForm.controls['email'].hasError('required');
								else error2
							"
							class="p-error block"
						>
							Informe o Email
						</small>
						<ng-template #error2>
							<small id="email-help" class="p-error block">
								Email inválido
							</small>
						</ng-template>
					</ng-container>
				</div>

				<div class="field">
					<label for="telephone" class="block">Telefone</label>
					<input
						id="telephone"
						type="text"
						formControlName="telephone"
						aria-describedby="telephone-help"
						mask="(00) 0000-0000 || (00) 0 0000-0000"
						pInputText
					/>
					<ng-container
						*ngIf="checkHasError(registerProprietaryForm.controls['telephone'])"
					>
						<small
							id="telephone-help"
							*ngIf="
								registerProprietaryForm.controls['telephone'].hasError(
									'required'
								);
								else error2
							"
							class="p-error block"
						>
							Informe o telefone
						</small>
						<ng-template #error2>
							<small id="telephone-help" class="p-error block">
								Telefone inválido
							</small>
						</ng-template>
					</ng-container>
				</div>
			</div>
		</ng-template>
		<ng-template pTemplate="footer">
			<div class="flex justify-between gap-4">
				<button
					pButton
					pRipple
					type="button"
					label="Cancelar"
					class="p-button-outlined h-9 w-full"
					(click)="registerProprietaryVisible = false"
				></button>

				<button
					pButton
					pRipple
					type="button"
					label="Continuar"
					class="h-9 w-full"
					(click)="onProprietarySubmit()"
				></button>
			</div>
		</ng-template>
	</p-sidebar>
</form>

<p-dialog
	[(visible)]="displayModal"
	[modal]="true"
	[draggable]="false"
	[resizable]="false"
	styleClass="form-modal"
	*ngIf="!isMobile"
>
	<ng-container *ngTemplateOutlet="modalContentTemplate"></ng-container>
</p-dialog>

<p-sidebar
	[(visible)]="displayModal"
	position="bottom"
	styleClass="form-modal"
	*ngIf="isMobile"
>
	<ng-template pTemplate="content">
		<ng-container *ngTemplateOutlet="modalContentTemplate"></ng-container>
	</ng-template>
</p-sidebar>

<ng-template #modalContentTemplate>
	<div *ngIf="!modalContent.isError; else error" class="modal-success">
		<h2 *ngIf="modalContent.header">{{ modalContent.header }}</h2>
		<i class="ph-check-circle"></i>
		<p>
			{{ modalContent.message }}
		</p>

		<button
			pButton
			label="Continuar"
			(click)="
				closeModal(setNewProprietary); registerProprietaryVisible = false
			"
			*ngIf="registerProprietaryVisible"
		></button>

		<button
			pButton
			label="Continuar"
			(click)="closeModal(navigateTo, 'property/listing')"
			*ngIf="!registerProprietaryVisible"
		></button>
	</div>
	<ng-template #error>
		<div class="modal-error">
			<h2 *ngIf="modalContent.header">{{ modalContent.header }}</h2>
			<i class="ph-x-circle"></i>
			<p>
				{{ modalContent.message }}
			</p>
			<button pButton label="Continuar" (click)="closeModal()"></button>
		</div>
	</ng-template>
</ng-template>
