<ng-container *ngIf="isLoadingView; else details">
	<div class="flex relative justify-center items-center w-full h-full pt-20">
		<div class="w-full max-w-3xl">
			<app-spinner text="Carregando"></app-spinner>
		</div>
	</div>
</ng-container>
<ng-template #details>
	<div class="contract-view">
		<div class="content-wrapper">
			<div class="flex justify-between items-center py-6 h-[7.5rem]">
				<h2 class="text-2xl font-bold">Detalhe do contrato</h2>
				<div class="ending-contract-alert">
					<span>O contrato está próximo do fim.</span>
					<button type="button" pButton class="h-9">Comunicar locatário</button>
				</div>
			</div>
			<div class="content">
				<header>
					<h2>Francisco Regis Claring Ferreira <span>3214201</span></h2>

					<div class="info-cluster">
						<div class="data">
							<div class="data-label">Tipo de contrato</div>
							<div class="data-value">Residencial</div>
						</div>
						<div class="data-divider">&nbsp;</div>
						<div class="data">
							<div class="data-label">Valor de aluguel</div>
							<div class="data-value">R$ 3.400,00</div>
						</div>
						<div class="data-divider">&nbsp;</div>
						<div class="data">
							<div class="data-label">Data final</div>
							<div class="data-value">22/01/2023</div>
						</div>
						<div class="data-divider">&nbsp;</div>
						<div class="data">
							<button
								pButton
								type="button"
								class="p-button-outlined h-7"
								(click)="navigateTo('rent-contract/edit')"
							>
								Editar contrato
							</button>
						</div>
					</div>
				</header>

				<section class="details">
					<p-accordion
						[multiple]="true"
						expandIcon="pi pi-fw pi-chevron-down"
						collapseIcon="pi pi-fw pi-chevron-up"
					>
						<p-accordionTab header="Detalhes do Imóvel" [selected]="true">
							<div class="info-cluster extended">
								<div class="data">
									<div class="data-label">Nome imóvel 1</div>
									<div class="data-value">Ed. José Maria</div>
								</div>
								<div class="data">
									<div class="data-label">Unidade(s)</div>
									<div class="data-value">308</div>
								</div>
								<div class="data">
									<div class="data-label">Endereço</div>
									<div class="data-value">SQS 415</div>
								</div>
								<div class="data">
									<div class="data-label">Centro de custo</div>
									<div class="data-value">212121222</div>
								</div>
								<div class="data">
									<button
										pButton
										type="button"
										class="p-button-outlined h-9"
										(click)="
											navigateTo('contract/edit/' + contract.guidReferencia)
										"
									>
										Detalhes do imóvel
									</button>
								</div>
							</div>

							<div class="info-cluster extended">
								<div class="data">
									<div class="data-label">Nome imóvel 2</div>
									<div class="data-value">Ed. José Maria</div>
								</div>
								<div class="data">
									<div class="data-label">Unidade(s)</div>
									<div class="data-value">308</div>
								</div>
								<div class="data">
									<div class="data-label">Endereço</div>
									<div class="data-value">SQS 415</div>
								</div>
								<div class="data">
									<div class="data-label">Centro de custo</div>
									<div class="data-value">212121222</div>
								</div>
								<div class="data">
									<button
										pButton
										type="button"
										class="p-button-outlined h-9"
										(click)="
											navigateTo('contract/edit/' + contract.guidReferencia)
										"
									>
										Detalhes do imóvel
									</button>
								</div>
							</div>
						</p-accordionTab>
						<!-- DETALHES DO CONTATO -->
						<p-accordionTab header="Detalhes do contrato">
							<div class="info-cluster">
								<div class="data">
									<div class="data-label">Data do início do contrato</div>
									<div class="data-value">22/01/2019</div>
								</div>
								<div class="data">
									<div class="data-label">Prazo total</div>
									<div class="data-value">320 meses</div>
								</div>
								<div class="data">
									<div class="data-label">Data de ocupação</div>
									<div class="data-value">22/01/2023</div>
								</div>
								<div class="data">
									<div class="data-label">Dia do vencimento da parcela</div>
									<div class="data-value">Todo dia 10</div>
								</div>
							</div>
						</p-accordionTab>

						<!-- LOCATÁRIO -->
						<p-accordionTab header="Locatário">
							<div class="info-cluster extended">
								<div class="data">
									<div class="data-label">Locatário</div>
									<div class="data-value">José Luiz</div>
								</div>
								<div class="data">
									<div class="data-label">CNPJ</div>
									<div class="data-value">{{ "72165630000127" | cpfcnpj }}</div>
								</div>
								<div class="data">
									<div class="data-label">Telefone</div>
									<div class="data-value">{{ "61993331092" | telefone }}</div>
								</div>
								<div class="data">
									<div class="data-label">Email</div>
									<div class="data-value">jose@mail.com</div>
								</div>
								<div class="data text-right">
									<button
										pButton
										type="button"
										class="p-button-outlined h-8"
										(click)="
											navigateTo('contract/edit/' + contract.guidReferencia)
										"
									>
										Ver perfil
									</button>
								</div>
							</div>
						</p-accordionTab>

						<!-- TAXAS E VALORES A PAGAR -->
						<p-accordionTab header="Taxas e valores a pagar">
							<div class="info-cluster">
								<div class="data">
									<div class="data-label">Valor líquido</div>
									<div class="data-value">R$ 3.400,00</div>
								</div>
								<div class="data">
									<div class="data-label">% de retenção de impostos</div>
									<div class="data-value">10%</div>
								</div>
								<div class="data">
									<div class="data-label">Desconto</div>
									<div class="data-value">5% válido até 30/06/2023</div>
								</div>
								<div class="data">
									<div class="data-label">Índice de reajuste do contrato</div>
									<div class="data-value">IPCA</div>
								</div>
								<div class="data">
									<div class="data-label">Carência do aluguel</div>
									<div class="data-value">Sim</div>
								</div>
								<div class="data">
									<div class="data-label">Prazo da carência</div>
									<div class="data-value">12 meses</div>
								</div>
								<div class="data">
									<div class="data-label">Creditar para</div>
									<div class="data-value">Locadora</div>
								</div>
								<div class="data">
									<div class="data-label">Periodicidade de reajuste</div>
									<div class="data-value">X meses</div>
								</div>
							</div>
						</p-accordionTab>

						<!-- Anexos -->
						<p-accordionTab header="Taxas e valores a pagar">
							<div class="attachments">
								<button type="button" class="attachment">
									<span class="icon">
										<app-icon name="att-proj" size="1.5rem"></app-icon>
									</span>
									<span class="label">Projeto</span>
								</button>
								<button type="button" class="attachment">
									<span class="icon">
										<app-icon name="att-mat" size="1.5rem"></app-icon>
									</span>
									<span class="label">Matrícula</span>
								</button>
								<button type="button" class="attachment">
									<span class="icon">
										<app-icon name="att-hab" size="1.5rem"></app-icon>
									</span>
									<span class="label">Habite-se</span>
								</button>
							</div>
						</p-accordionTab>
					</p-accordion>
				</section>
			</div>
		</div>
	</div>
</ng-template>
