<ng-container *ngIf="isLoadingView; else details">
	<div class="flex relative justify-center items-center w-full h-full pt-20">
		<div class="w-full max-w-3xl">
			<app-spinner text="Carregando"></app-spinner>
		</div>
	</div>
</ng-container>
<ng-template #details>
	<div class="contract-view">
		<div class="content-wrapper">
			<div
				class="flex max-md:flex-col justify-between md:items-center gap-y-3 py-6 md:h-[7.5rem]"
			>
				<h2 class="text-2xl font-bold max-md:mx-4">Detalhe do contrato</h2>
				<div
					class="ending-contract-alert"
					*ngIf="contract.exibirAlertaVencimento"
				>
					<span class="min-w-[5rem]">O contrato está próximo do fim.</span>
					<button
						type="button"
						pButton
						class="h-9 min-w-[11rem]"
						(click)="showContacts()"
					>
						Comunicar locatário
					</button>
				</div>
			</div>
			<div class="content">
				<header>
					<!-- \/ ?? -->
					<h2>
						{{ contract.cliente?.nome }}
						<span>{{ contract.numeroContrato }}</span>
					</h2>

					<div class="info-cluster">
						<!-- \/ ?? X -->
						<!-- <div class="data">
							<div class="data-label">Tipo de contrato</div>
							<div class="data-value">Residencial</div>
						</div>
						<div class="data-divider">&nbsp;</div> -->
						<div class="data">
							<div class="data-label">Valor de aluguel</div>
							<div class="data-value">
								{{ contract.valorAluguel | currency }}
							</div>
						</div>
						<div class="data-divider">&nbsp;</div>
						<div class="data">
							<div class="data-label">Data final</div>
							<div class="data-value">
								{{ contract.dataFimContrato | date : "shortDate" }}
							</div>
						</div>
						<div class="data-divider">&nbsp;</div>
						<div class="data">
							<div class="flex gap-3 flex-wrap">
								<button
									pButton
									type="button"
									class="p-button-outlined h-8"
									(click)="
										navigateTo('rent-contract/edit/' + contract.guidReferencia)
									"
								>
									Editar contrato
								</button>
								<button
									pButton
									type="button"
									class="p-button-outlined h-8"
									(click)="showAdjustment()"
								>
									Reajustar contrato
								</button>
							</div>
						</div>
					</div>
				</header>

				<section class="details">
					<p-accordion
						[multiple]="true"
						expandIcon="pi pi-fw pi-chevron-down"
						collapseIcon="pi pi-fw pi-chevron-up"
					>
						<p-accordionTab header="Detalhes do Imóvel" [selected]="true">
							<div
								class="info-cluster extended"
								*ngFor="let imovel of contract.imovelAlugado; index as i"
							>
								<div class="data">
									<div class="data-label">Nome imóvel {{ i + 1 }}</div>
									<div class="data-value">{{ imovel.nome }}</div>
								</div>
								<!-- \/ ?? X -->
								<div class="data">
									<div class="data-label">Unidade(s)</div>
									<div class="data-value">
										{{ imovel.nroUnidadesContrato }}
									</div>
								</div>
								<!-- \/ ?? X -->
								<div class="data">
									<div class="data-label">Endereço</div>
									<div class="data-value">
										<ng-container
											*ngIf="
												imovel.imovelEndereco && imovel.imovelEndereco[0];
												else naoInformado
											"
										>
											{{
												imovel.imovelEndereco[0].rua +
													", " +
													imovel.imovelEndereco[0].cidade +
													" - " +
													imovel.imovelEndereco[0].uf
											}}
										</ng-container>
										<ng-template #naoInformado>
											<span class="italic text-gray-400">Não informado</span>
										</ng-template>
									</div>
								</div>
								<div class="data">
									<div class="data-label">Centro de custo</div>
									<div class="data-value">{{ imovel.numCentroCusto }}</div>
								</div>
								<div class="data text-right">
									<button
										pButton
										type="button"
										class="p-button-outlined h-9"
										(click)="
											navigateTo('property/details/' + imovel.guidReferencia)
										"
									>
										Detalhes do imóvel
									</button>
								</div>
							</div>
						</p-accordionTab>
						<!-- DETALHES DO CONTATO -->
						<p-accordionTab header="Detalhes do contrato">
							<div class="info-cluster">
								<div class="data">
									<div class="data-label">Data do início do contrato</div>
									<div class="data-value">
										{{ contract.dataInicioContrato | date : "shortDate" }}
									</div>
								</div>
								<div class="data">
									<div class="data-label">Prazo total</div>
									<div class="data-value">
										{{ contract.prazoTotalContrato }} meses
									</div>
								</div>
								<div class="data">
									<div class="data-label">Data de ocupação</div>
									<div class="data-value">
										{{ contract.dataOcupacao | date : "shortDate" }}
									</div>
								</div>
								<div class="data">
									<div class="data-label">Dia do vencimento da parcela</div>
									<div class="data-value">
										Todo dia {{ contract.diaVencimentoAluguel }}
									</div>
								</div>
							</div>
						</p-accordionTab>

						<!-- LOCATÁRIO -->
						<p-accordionTab header="Locatário">
							<div class="info-cluster extended">
								<div class="data">
									<!-- \/ ?? X -->
									<div class="data-label">Locatário</div>
									<div class="data-value">
										{{ contract.cliente.nome }}
									</div>
								</div>
								<div class="data">
									<div class="data-label">
										{{ contract.cliente.cpfCnpj.length > 11 ? "CNPJ" : "CPF" }}
									</div>
									<div class="data-value">
										{{ contract.cliente.cpfCnpj | cpfcnpj }}
									</div>
								</div>
								<div class="data">
									<div class="data-label">Telefone</div>
									<div class="data-value">
										{{ contract.cliente.telefone | telefone }}
									</div>
								</div>
								<div class="data">
									<div class="data-label">Email</div>
									<div class="data-value">{{ contract.cliente.email }}</div>
								</div>
								<div class="data text-right">
									<button
										pButton
										type="button"
										class="p-button-outlined h-8"
										(click)="
											navigateTo(
												'client/details/' + contract.cliente.guidReferencia
											)
										"
									>
										Ver perfil
									</button>
								</div>
							</div>
						</p-accordionTab>

						<!-- TAXAS E VALORES A PAGAR -->
						<p-accordionTab header="Taxas e valores a pagar">
							<div class="info-cluster">
								<div class="data">
									<div class="data-label">Valor líquido</div>
									<div class="data-value">
										{{ contract.valorAluguelLiquido | currency }}
									</div>
								</div>
								<div class="data">
									<div class="data-label">% de retenção de impostos</div>
									<div class="data-value">
										{{ contract.percentualRetencaoImpostos }}%
									</div>
								</div>
								<div class="data">
									<div class="data-label">Desconto</div>
									<!-- \/ ?? X 5% válido até 30/06/2023 -->
									<div class="data-value">
										{{ contract.percentualDescontoAluguel }}%
									</div>
								</div>
								<div class="data">
									<!-- \/ ?? X -->
									<div class="data-label">Índice de reajuste do contrato</div>
									<div class="data-value">
										{{ contract.indiceReajuste?.nome }}
									</div>
								</div>
								<div class="data">
									<div class="data-label">Carência do aluguel</div>
									<div class="data-value">
										{{ contract.carenciaAluguel ? "Sim" : "Não" }}
									</div>
								</div>
								<div class="data" *ngIf="contract.carenciaAluguel">
									<div class="data-label">Prazo da carência</div>
									<div class="data-value">
										{{ contract.prazoCarencia }} meses
									</div>
								</div>
								<div class="data">
									<!-- \/ ?? X -->
									<div class="data-label">Creditar para</div>
									<div class="data-value">
										{{ contract.creditoAluguel?.nome }}
									</div>
								</div>
								<div class="data">
									<div class="data-label">Periodicidade de reajuste</div>
									<div class="data-value">
										{{ contract.periodicidadeReajuste }} meses
									</div>
								</div>
							</div>
						</p-accordionTab>

						<!-- Anexos -->
						<p-accordionTab header="Anexos">
							<!-- <div class="attachments">
								<a
									[href]="contract.anexos?.[0]?.uri"
									target="_blank"
									class="attachment"
								>
									<span class="icon">
										<app-icon name="att-proj" size="1.5rem"></app-icon>
									</span>
									<span class="label">Projeto</span>
								</a>
								<a
									[href]="contract.anexos?.[1]?.uri"
									target="_blank"
									class="attachment"
								>
									<span class="icon">
										<app-icon name="att-mat" size="1.5rem"></app-icon>
									</span>
									<span class="label">Matrícula</span>
								</a>
								<a
									[href]="contract.anexos?.[2]?.uri"
									target="_blank"
									class="attachment"
								>
									<span class="icon">
										<app-icon name="att-hab" size="1.5rem"></app-icon>
									</span>
									<span class="label">Habite-se</span>
								</a>
							</div> -->
							<!-- <div class="attachments-card">
								<button
									type="button"
									class="attachment"
									*ngIf="attachmentDocs.projeto"
									(click)="
										downloadFile(
											attachmentDocs.projeto.local,
											attachmentDocs.projeto.nome
										)
									"
								>
									<span class="icon">
										<app-icon name="att-proj" size="1.5rem"></app-icon>
									</span>
									<span class="label">Projeto</span>
								</button>

								<button
									type="button"
									class="attachment"
									*ngIf="attachmentDocs.matricula"
									(click)="
										downloadFile(
											attachmentDocs.matricula.local,
											attachmentDocs.matricula.nome
										)
									"
								>
									<span class="icon">
										<app-icon name="att-mat" size="1.5rem"></app-icon>
									</span>
									<span class="label">Matrícula</span>
								</button>

								<button
									type="button"
									class="attachment"
									*ngIf="attachmentDocs.habitese"
									(click)="
										downloadFile(
											attachmentDocs.habitese.local,
											attachmentDocs.habitese.nome
										)
									"
								>
									<span class="icon">
										<app-icon name="att-hab" size="1.5rem"></app-icon>
									</span>
									<span class="label">Habite-se</span>
								</button>
							</div> -->
							<app-attachment-list [guid]="guid"></app-attachment-list>
						</p-accordionTab>

						<!-- Histórico de reajuste -->
						<p-accordionTab header="Histórico de reajuste">
							<div>
								<p-table [value]="contract.historicoReajuste" class="w-full">
									<ng-template pTemplate="header">
										<tr class="bg-gray-100">
											<th>Data</th>
											<th>% de reajuste anterior</th>
											<th>% de reajuste novo</th>
											<th>Valor Aluguel anteiror</th>
											<th>Valor aluguel novo</th>
										</tr>
									</ng-template>
									<ng-template pTemplate="body" let-reajuste>
										<tr class="even:bg-gray-50">
											<td>{{ reajuste.dataCriacao | date : "short" }}</td>
											<td>{{ reajuste.percentualReajusteAntigo }}%</td>
											<td>{{ reajuste.percentualReajusteNovo }}%</td>
											<td>{{ reajuste.valorAluguelAnterior  | currency }}</td>
											<td>{{ reajuste.valorAluguelNovo | currency }}</td>
										</tr>
									</ng-template>
								</p-table>
							</div>
						</p-accordionTab>
					</p-accordion>
				</section>
			</div>
		</div>
	</div>
</ng-template>

<p-sidebar [(visible)]="contactsVisible" position="right">
	<ng-template pTemplate="header">
		<h4>Lista de contatos</h4>
	</ng-template>
	<ng-template pTemplate="content">
		<div *ngIf="contactList?.length === 0" class="text-center">
			<span>Não há contatos cadastrados</span>
		</div>
		<div class="contact-data" *ngFor="let contato of contactList; index as i">
			<div class="flex justify-between font-bold">
				<span>{{ contato.nome }}</span>
			</div>
			<div
				class="text-sm flex flex-wrap flex-col gap-x-4 gap-y-2 justify-center"
			>
				<div *ngIf="contato.cargo">Cargo: {{ contato.cargo }}</div>
				<div *ngIf="contato.email">Email: {{ contato.email }}</div>
				<div *ngIf="contato.nascimento">
					Nascimento:
					{{ contato.nascimento | date : "shortDate" }}
				</div>
				<div *ngIf="contato.telefone">
					Telefone: {{ contato.telefone | telefone }}
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template pTemplate="footer">
		<button
			pButton
			pRipple
			type="button"
			label="Fechar"
			class="p-button-outlined h-9 w-full"
			(click)="hideContacts()"
		></button
	></ng-template>
</p-sidebar>

<p-sidebar [(visible)]="adjustVisible" position="right">
	<ng-template pTemplate="header">
		<h4>Reajustar contrato</h4>
	</ng-template>
	<ng-template pTemplate="content">
		<div class="field">
			<label for="tax-retention" class="block"> % de ajuste </label>
			<input
				id="tax-retention"
				type="text"
				[(ngModel)]="taxRetention"
				aria-describedby="tax-retention-help"
				mask="percent"
				suffix="%"
				[dropSpecialCharacters]="false"
				pInputText
			/>
			<!-- <ng-container *ngIf="checkHasError(valueInfo['taxRetention'])">
				<small
					id="tax-retention-help"
					*ngIf="valueInfo['taxRetention'].hasError('required'); else error2"
					class="p-error block"
				>
					Informe a % de retenção de impostos
				</small>
				<ng-template #error2>
					<small id="tax-retention-help" class="p-error block">
						% de retenção de impostos inválida
					</small>
				</ng-template>
			</ng-container> -->
		</div>
	</ng-template>
	<ng-template pTemplate="footer">
		<div class="flex gap-4">
			<button
				pButton
				pRipple
				type="button"
				label="Fechar"
				class="p-button-outlined h-9 w-full"
				[disabled]="isAdjusting"
				(click)="hideAdjustment()"
			></button>
			<button
				pButton
				pRipple
				type="button"
				label="Editar"
				class="p-button h-9 w-full"
				[disabled]="isAdjusting"
				(click)="adjustContract()"
			></button>
		</div>
	</ng-template>
</p-sidebar>

<app-responsive-dialog
	[isMobile]="isMobile"
	[visible]="displayModal"
	styleClass="form-modal"
>
	<div *ngIf="!modalContent.isError; else error" class="modal-success">
		<h2 *ngIf="modalContent.header">{{ modalContent.header }}</h2>
		<i class="ph-check-circle"></i>
		<p>
			{{ modalContent.message }}
		</p>

		<button
			pButton
			label="Fechar"
			(click)="closeModal(hideAdjustment)"
		></button>
	</div>
	<ng-template #error>
		<div class="modal-error">
			<h2 *ngIf="modalContent.header">{{ modalContent.header }}</h2>
			<i class="ph-x-circle"></i>
			<p>
				{{ modalContent.message }}
			</p>
			<button pButton label="Continuar" (click)="closeModal()"></button>
		</div>
	</ng-template>
</app-responsive-dialog>
