<form
	class="edit-form"
	[formGroup]="registerForm"
	(ngSubmit)="onSubmit($event)"
>
	<div class="input-wrapper">
		<section class="form-details">
			<h4>Adicionar novo cliente</h4>
			<p><span class="form-step-value">01</span>Informações do cliente</p>
		</section>
		<section class="form-data">
			<h4>Informações do cliente</h4>
			<p>
				Adicione aqui as informações do cliente desejado. Após o preenchimento
				clique em continuar para salvar as informações
			</p>

			<div class="field">
				<label for="name" class="block">Nome</label>
				<input
					id="name"
					type="text"
					formControlName="name"
					aria-describedby="name-help"
					pInputText
				/>
				<ng-container *ngIf="checkHasError(f['name'])">
					<small
						id="name-help"
						*ngIf="f['name'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe o nome do cliente
					</small>
					<ng-template #error2>
						<small id="name-help" class="p-error block"> Nome inválido </small>
					</ng-template>
				</ng-container>
			</div>

			<div class="field">
				<label for="birthday" class="block">Nascimento</label>
				<p-calendar
					id="birthday"
					formControlbirthday="birthday"
					dateFormat="dd/mm/yy"
					(onInput)="onInputDate($event)"
					(onBlur)="onBlurDate()"
					placeholder="dd/mm/aaaa"
					aria-describedby="birthday-help"
				></p-calendar>
				<ng-container *ngIf="checkHasError(f['birthday'])">
					<small
						id="birthday-help"
						*ngIf="f['birthday'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe a data de nascimento
					</small>
					<ng-template #error2>
						<small id="birthday-help" class="p-error block">
							Data de nascimento inválido
						</small>
					</ng-template>
				</ng-container>
			</div>

			<div class="field">
				<label for="clientType" class="block">Tipo de cliente</label>
				<p-dropdown
					id="client-type"
					[options]="clientTypes"
					formControlName="clientType"
					aria-describedby="client-type-help"
				></p-dropdown>
				<ng-container *ngIf="checkHasError(f['clientType'])">
					<small
						id="client-type-help"
						*ngIf="f['clientType'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe o tipo de cliente
					</small>
					<ng-template #error2>
						<small id="client-type-help" class="p-error block">
							Tipo de cliente inválido
						</small>
					</ng-template>
				</ng-container>
			</div>

			<div class="field">
				<label for="cpf" class="block">CPF</label>
				<input
					id="cpf"
					type="text"
					formControlName="cpf"
					aria-describedby="name-help"
					pInputText
				/>
				<ng-container *ngIf="checkHasError(f['cpf'])">
					<small
						id="cpf-help"
						*ngIf="f['cpf'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe o CPF do cliente
					</small>
					<ng-template #error2>
						<small id="cpf-help" class="p-error block"> CPF inválido </small>
					</ng-template>
				</ng-container>
			</div>

			<div class="field">
				<label for="email" class="block">Email</label>
				<input
					id="email"
					type="text"
					formControlName="email"
					aria-describedby="email-help"
					pInputText
				/>
				<ng-container *ngIf="checkHasError(f['email'])">
					<small
						id="email-help"
						*ngIf="f['email'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe o email
					</small>
					<ng-template #error2>
						<small id="email-help" class="p-error block">
							Email inválido
						</small>
					</ng-template>
				</ng-container>
			</div>

			<div class="field">
				<label for="telephone" class="block">Telefone</label>
				<input
					id="telephone"
					type="text"
					formControlName="telephone"
					aria-describedby="telephone-help"
					pInputText
				/>
				<ng-container *ngIf="checkHasError(f['telephone'])">
					<small
						id="telephone-help"
						*ngIf="f['telephone'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe o telefone do cliente
					</small>
					<ng-template #error2>
						<small id="telephone-help" class="p-error block">
							Telefone inválido
						</small>
					</ng-template>
				</ng-container>
			</div>

			<div class="field">
				<label for="cep" class="block">CEP</label>
				<input
					id="cep"
					type="text"
					formControlName="cep"
					aria-describedby="cep-help"
					pInputText
				/>
				<ng-container *ngIf="checkHasError(f['cep'])">
					<small
						id="cep-help"
						*ngIf="f['cep'].hasError('required'); else error2"
						class="p-error block"
					>
						Informe o CEP do cliente
					</small>
					<ng-template #error2>
						<small id="cep-help" class="p-error block"> CEP inválido </small>
					</ng-template>
				</ng-container>
			</div>
		</section>
	</div>
	<div class="form-actions">
		<button
			pButton
			type="button"
			label="Voltar"
			class="p-button-text h-11"
			(click)="goBack()"
		></button>

		<button
			pButton
			pRipple
			type="reset"
			label="Cancelar"
			class="p-button-outlined h-11"
		></button>

		<button pButton type="submit" label="Continuar" class="h-11"></button>
	</div>
</form>
