<div class="property-item">
	<div class="property-image">
		<div class="image">
			<img src="../../../../assets/images/imovel.png" alt="" />
		</div>
		<!-- <div class="property-category">Imóvel da carteira</div> -->
		<p-tag
			[rounded]="true"
			class="property-category"
			[styleClass]="propertyType"
		></p-tag>
	</div>
	<div class="property-info">
		<h4>
		{{imovel.nome}} <span class="property-id">#3124322</span>
		</h4>
		<p>Avenida São Paulo, 2803 - Centro, Mangaguá - SP</p>
		<div class="location">
			<app-icon name="pin-building" styleClass="mr-1"></app-icon>
			Edifício Corporativo
		</div>
		<div class="property-features">
			<span class="feature">
				<app-icon name="door" styleClass="mr-1"></app-icon>
				356 unidades
			</span>
			<span class="feature">
				<app-icon name="area" styleClass="mr-1"></app-icon>
				1.321 m²
			</span>
		</div>
	</div>
	<div class="proprietary-info">
		<div class="content">
			<div>
				<h6>Proprietário</h6>
				<ul>
					<li><a>Matheus Gomes</a></li>
					<li>012.213.442-22</li>
					<li>(61) 99433-1022</li>
				</ul>
			</div>
			<button
				pButton
				(click)="navigateTo('property-details')"
				label="Ver detalhes"
				title="detalhes"
			></button>
		</div>
	</div>
</div>
