<div class="property-item">
	<div class="property-image">
		<div class="image">
			<img src="{{ propertyData.image_address }}" alt="" />
		</div>
		<!-- <div class="property-category">Imóvel da carteira</div> -->
		<p-tag
			[rounded]="true"
			class="property-category"
			[styleClass]="propertyData.property_type"
		></p-tag>
	</div>
	<div class="property-info">
		<h4>
			{{ propertyData.name }}
			<span class="property-id">#{{ propertyData.code }}</span>
		</h4>
		<p>{{ propertyData.address }}</p>
		<div class="location">
			<app-icon name="pin-building" styleClass="mr-1"></app-icon>
			{{ propertyData.type }}
		</div>
		<div class="property-features">
			<span class="feature">
				<app-icon name="door" styleClass="mr-1"></app-icon>
				{{ propertyData.unit_amount }} unidades
			</span>
			<span class="feature">
				<app-icon name="area" styleClass="mr-1"></app-icon>
				{{ propertyData.area | area }}
			</span>
		</div>
	</div>
	<div class="proprietary-info">
		<div class="content">
			<div>
				<h6>Proprietário</h6>
				<ul>
					<li>
						<a>{{ propertyData.proprietary.name }}</a>
					</li>
					<li>{{ propertyData.proprietary.cpf_cnpj }}</li>
					<li>{{ propertyData.proprietary.telephone }}</li>
				</ul>
			</div>
			<button
				pButton
				(click)="navigateTo('property-details')"
				label="Ver detalhes"
				title="detalhes"
			></button>
		</div>
	</div>
</div>
