<div class="header-background"></div>
<div class="content-wrapper">
	<div class="content">
		<header class="content-header">
			<div class="title" [class.mobile]="isMobile">
				<h3 class="text-2xl font-bold">Total m² gerenciados</h3>
				<div class="text-right" *ngIf="isMobile">
					<button
						pButton
						pRipple
						type="button"
						icon="pi pi-sliders-h"
						class="p-button-rounded p-button-text"
						(click)="openFilters()"
					></button>
				</div>
			</div>

			<div class="options">
				<ng-container *ngIf="!isMobile">
					<ng-container *ngTemplateOutlet="filtersTemplate"></ng-container>
				</ng-container>

				<button
					pButton
					type="button"
					class="p-button-outlined h-9 addButton"
					(click)="navigateTo('dashboard/managed-area')"
				>
					Salvar como PDF
				</button>
			</div>
		</header>

		<ng-template #filtersTemplate>
			<p-dropdown
				[styleClass]="'mr-2 w-full md:w-44'"
				placeholder="Locador"
				[options]="locador"
				aria-describedby="locador-help"
				[(ngModel)]="filterLocador"
				(ngModelChange)="filterClientDebounce($event)"
				[options]="proprietaryOptions"
			></p-dropdown>

			<p-dropdown
				[styleClass]="'mr-2 w-full md:w-44'"
				placeholder="Tipo de imóvel"
				[options]="tiposImovel"
				aria-describedby="tipo-imovel-help"
				[(ngModel)]="filterTipo"
				(ngModelChange)="filterClientDebounce($event)"
				[options]="categoryOptions"
			></p-dropdown>

			<p-calendar
				[styleClass]="'mr-2 w-full md:w-44'"
				placeholder="Período"
				aria-describedby="periodo-help"
				[(ngModel)]="filterPeriodo"
				view="month"
				selectionMode="range"
				dateFormat="mm/yy"
				(ngModelChange)="filterClientDebounce($event)"
			></p-calendar>
		</ng-template>

		<ng-container *ngIf="isLoading">
			<app-spinner styleClass="mt-11"></app-spinner>
		</ng-container>

		<div class="" *ngIf="!isLoading">
			<div class="flex flex-wrap gap-x-10 gap-y-14 justify-evenly">
				<app-percent-chart-card
					*ngFor="let card of data"
					[title]="card.title"
					[percent]="card.percent"
					[color]="card.color"
					class="grow basis-0"
				></app-percent-chart-card>
			</div>
		</div>
	</div>
</div>

<p-sidebar [(visible)]="displayMobileFilters" position="bottom">
	<ng-template pTemplate="header">Filtros</ng-template>
	<ng-template pTemplate="content">
		<ng-container *ngTemplateOutlet="filtersTemplate"></ng-container>
	</ng-template>
</p-sidebar>
