<ng-container *ngIf="isLoadingView; else details">
	<div class="flex relative justify-center items-center w-full h-full pt-20">
		<div class="w-full max-w-3xl">
			<app-spinner text="Carregando"></app-spinner>
		</div>
	</div>
</ng-container>
<ng-template #details>
	<div class="property-view">
		<div
			class="cover"
			[style.background-image]="
				'url(\'' +
				(coverImage ?? './assets/images/imovel-placeholder-large.png') +
				'\')'
			"
		></div>

		<div class="content">
			<div class="main-card">
				<div
					class="left-side"
					*ngIf="property && property.idCategoriaImovelNavigation"
				>
					<!-- <p-tag
					[rounded]="true"
					[styleClass]="
						property.idCategoriaImovelNavigation.nome == 'Imóvel de carteira'
							? 'wallet'
							: 'market'
					"
				></p-tag> -->
					<h4>
						{{ property.nome }}
						<span class="property-id">#{{ property.numCentroCusto }}</span>
						<!-- <button
						pButton
						pRipple
						type="button"
						[icon]="isFavorite ? 'pi pi-heart-fill' : 'pi pi-heart'"
						[ngClass]="{
							'p-button-rounded p-button-text': true,
							favorite: isFavorite
						}"
						(click)="toggleFavorite()"
					></button> -->
					</h4>
					<a
						[routerLink]="[
							'/client/details/' +
								property.idClienteProprietarioNavigation?.guidReferencia
						]"
						class="text-sm mt-[-0.8rem]"
					>
						{{ property.idClienteProprietarioNavigation?.nome }}
					</a>
					<p>
						{{ property.imovelEndereco?.[0]?.rua ?? '' }} -
						{{ property.imovelEndereco?.[0]?.uf }}
					</p>
					<div class="location">
						<app-icon name="pin-building" styleClass="mr-1"></app-icon>
						{{ property.idCategoriaImovelNavigation.nome }}
					</div>
				</div>
				<div class="right-side" *ngIf="property">
					<div class="property-features">
						<div class="feature">
							<div class="label">
								<app-icon name="door" styleClass="mr-1"></app-icon>
								Unidades
							</div>
							<div class="value">{{ property.nroUnidades ?? 0 }}</div>
						</div>
						<span class="feature">
							<div class="label">
								<app-icon name="area" styleClass="mr-1"></app-icon>
								Metragem total
							</div>
							<div class="value">{{ property.areaTotal ?? 0 | area }}</div>
						</span>
					</div>
					<span class="property-options">
						<button
							pButton
							type="button"
							class="p-element h-11 p-button p-component"
							(click)="navigateTo('property/edit/' + uid)"
						>
							Editar imóvel
						</button>

						<button
							pButton
							type="button"
							(click)="confirmImovelInativar()"
							class="p-element p-button-outlined h-11 p-button p-component"
							style="margin-left: 10px"
						>
							Inativar
						</button>
					</span>
				</div>
			</div>

			<section class="units" *ngIf="property && property.unidade">
				<div class="unidades-header">
					<div class="flex justify-between items-center">
						<h3>Unidades</h3>

						<!-- <button
							pButton
							pRipple
							type="button"
							icon="pi pi-sliders-h"
							class="p-button-rounded p-button-text"
						></button> -->
					</div>
					<button
						pButton
						type="button"
						icon="pi pi-plus"
						iconPos="left"
						class="p-button-outlined icon-left h-9"
						(click)="navigateTo('property/register/unit/' + this.uid)"
						*ngIf="!isCorporativeBuilding"
					>
						{{ isMobile ? "Add. unidade" : "Adicionar unidade" }}
					</button>
				</div>

				<div *ngIf="property.unidade && property.unidade!.length === 0">
					sem unidades cadastradas
				</div>

				<ng-container *ngIf="!isMobile; else mobileUnitList">
					<p-table
						[value]="units"
						styleClass="p-datatable-striped"
						[tableStyle]="{ 'min-width': '50rem' }"
						*ngIf="property.unidade && property.unidade!.length > 0"
					>
						<ng-template pTemplate="header">
							<tr>
								<th>Nome</th>
								<th>Área Habite-se</th>
								<th>Área Útil</th>
								<th>Locatário</th>
								<th>Vencimento</th>
								<th>Locação</th>
								<th></th>
							</tr>
						</ng-template>
						<!-- <ng-container *ngFor="let unit of property.unidade"></ng-container> -->
						<ng-template pTemplate="body" let-unit>
							<tr>
								<td>{{ unit.tipo }}</td>
								<td>{{ unit.areaHabitese ?? 0 | area }}</td>
								<td>{{ unit.areaUtil | area }}</td>
								<td>-</td>
								<td>-</td>
								<td class="w-52">
									<ng-container *ngIf="unit.unidadeLocada; else disponivel">
										<p-tag
											value="Unidade locada"
											[rounded]="true"
											severity="danger"
											styleClass="w-36"
										></p-tag>
									</ng-container>
									<ng-template #disponivel>
										<p-tag
											value="Unidade disponível"
											[rounded]="true"
											severity="success"
											styleClass="w-36"
										></p-tag>
									</ng-template>
								</td>
								<td class="action w-16">
									<button
										type="button"
										pButton
										icon="pi pi-ellipsis-v"
										class="p-button-rounded"
										(click)="actionMenu.toggle($event); setCurrentUnit(unit)"
									></button>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</ng-container>

				<ng-template #mobileUnitList>
					<ul>
						<li *ngFor="let unit of units.slice(0, unitListAmount)">
							<div class="unitCard">
								<div class="tags">
									<p-tag
										value="Unidade disponível"
										[rounded]="true"
										severity="success"
										styleClass="w-36"
									></p-tag>
								</div>
								<header>
									<h4>{{ unit.tipo }}</h4>

									<button
										pButton
										pRipple
										type="button"
										icon="pi pi-ellipsis-v"
										class="p-button-rounded p-button-text"
										(click)="actionMenu.toggle($event); setCurrentUnit(unit)"
									></button>
								</header>
								<div class="infos">
									<div class="data">
										<div class="label">Área Habita-se</div>
										<div class="value">{{ unit.areaHabitese ?? 0 | area }}</div>
									</div>
									<div class="data">
										<div class="label">Área Útil</div>
										<div class="value">{{ unit.areaUtil ?? 0 | area }}</div>
									</div>
									<div class="data">
										<div class="label">Locatário</div>
										<div class="value">-</div>
									</div>
									<div class="data">
										<div class="label">Vencimento</div>
										<div class="value">-</div>
									</div>
								</div>
							</div>
						</li>
					</ul>

					<button
						pButton
						type="button"
						class="p-button-outlined icon-left h-9"
						(click)="showMoreUnits()"
						*ngIf="unitListAmount < units.length"
					>
						Carregar mais
					</button>
				</ng-template>
			</section>

			<section
				class="attachments"
				*ngIf="
					attachmentDocs.projeto ||
					attachmentDocs.matricula ||
					attachmentDocs.habitese
				"
			>
				<h3>Anexos</h3>

				<app-attachment-list
					*ngIf="
						attachmentDocs?.projeto ||
						attachmentDocs?.matricula ||
						attachmentDocs?.habitese
					"
					[attachmentList]="attachmentList"
				></app-attachment-list>
				<!--
				<div
					class="attachments-card"
					*ngIf="
						attachmentDocs?.projeto ||
						attachmentDocs?.matricula ||
						attachmentDocs?.habitese
					"
				>
					<button
						type="button"
						class="attachment"
						*ngIf="attachmentDocs.projeto"
						(click)="
							downloadFile(
								attachmentDocs.projeto.local,
								attachmentDocs.projeto.nome
							)
						"
					>
						<span class="icon">
							<app-icon name="att-proj" size="1.5rem"></app-icon>
						</span>
						<span class="label">Projeto</span>
					</button>
					<button
						type="button"
						class="attachment"
						*ngIf="attachmentDocs.matricula"
						(click)="
							downloadFile(
								attachmentDocs.matricula.local,
								attachmentDocs.matricula.nome
							)
						"
					>
						<span class="icon">
							<app-icon name="att-mat" size="1.5rem"></app-icon>
						</span>
						<span class="label">Matrícula</span>
					</button>
					<button
						type="button"
						class="attachment"
						*ngIf="attachmentDocs.habitese"
						(click)="
							downloadFile(
								attachmentDocs.habitese.local,
								attachmentDocs.habitese.nome
							)
						"
					>
						<span class="icon">
							<app-icon name="att-hab" size="1.5rem"></app-icon>
						</span>
						<span class="label">Habite-se</span>
					</button>
				</div>
				-->
			</section>

			<ng-container *ngIf="imageList.length > 0">
				<section class="photos">
					<h3>Fotos</h3>
					<app-photo-gallery [imageList]="imageList"></app-photo-gallery>
				</section>
			</ng-container>
		</div>
	</div>
</ng-template>

<p-menu #actionMenu [popup]="true" [model]="tableMenu"></p-menu>

<p-sidebar [(visible)]="detailsVisible" position="right" *ngIf="unit">
	<ng-template pTemplate="header">
		<h4>
			{{ unit.tipo }}
			<p-tag value="Unidade locada" [rounded]="true" severity="danger"></p-tag>
		</h4>
	</ng-template>
	<ng-template pTemplate="content">
		<img
			[src]="unitCover ?? '../../../assets/images/imovel-placeholder.png'"
			alt="Foto unidade"
			class="mb-3 max-h-44 w-full object-cover"
		/>
		<p-tabView>
			<p-tabPanel header="Detalhes">
				<div class="details-data">
					<div class="share-line">
						<div class="data">
							<span class="label">Área Útil</span>
							<span class="value">{{ unit.areaUtil ?? 0 | area }}</span>
						</div>
						<div class="data">
							<span class="label">Área Total</span>
							<span class="value">{{ unit.areaTotal ?? 0 | area }}</span>
						</div>
					</div>
					<div class="share-line">
						<div class="data">
							<span class="label">Área Habite-se</span>
							<span class="value">{{ unit.areaHabitese ?? 0 | area }}</span>
						</div>
						<div class="data">
							<span class="label">Valor Potencial</span>
							<span class="value">{{ unit.valorPotencial | currency }}</span>
						</div>
					</div>
					<div class="data">
						<span class="label">Taxa de administração</span>
						<span class="value">{{
							(unit.taxaAdministracao ? unit.taxaAdministracao / 100 : 0)
								| percent : "1.2" : "pt"
						}}</span>
					</div>

					<div class="data small">
						<span class="label">Número de matrícula:</span>
						<span class="value">{{ unit.matricula ?? "" }}</span>
					</div>
					<!-- <div class="data small">
						<span class="label">Mat. IPTU:</span>
						<span class="value">unit.matriculaIPTU</span>
					</div> -->
					<div class="data small">
						<span class="label">Ins. IPTU:</span>
						<span class="value">{{ unit.inscricaoIPTU ?? "" }}</span>
					</div>
					<div class="data small">
						<span class="label">N° Neoenergia:</span>
						<span class="value">{{ unit.matriculaEnergia ?? "" }}</span>
					</div>
					<div class="data small">
						<span class="label">N° CAESB:</span>
						<span class="value">{{ unit.matriculaAgua ?? "" }}</span>
					</div>
				</div>
				<div class="attachment-data">
					<div class="document project" *ngIf="unitDocs.projeto">
						<span>Projeto</span>
						<span class="buttons">
							<button
								pButton
								type="button"
								class="p-button-rounded p-button-text"
								(click)="
									downloadFile(unitDocs.projeto.uri, unitDocs.projeto.name)
								"
							>
								<i class="ph-download-simple"></i>
							</button>
						</span>
					</div>

					<div class="document registration" *ngIf="unitDocs.matricula">
						<span>Matrícula</span>
						<span class="buttons">
							<button
								pButton
								type="button"
								class="p-button-rounded p-button-text"
								(click)="
									downloadFile(unitDocs.matricula.uri, unitDocs.matricula.name)
								"
							>
								<i class="ph-download-simple"></i>
							</button>
						</span>
					</div>

					<div class="document occupancy" *ngIf="unitDocs.habitese">
						<span>Habite-se</span>
						<span class="buttons">
							<button
								pButton
								type="button"
								class="p-button-rounded p-button-text"
								(click)="
									downloadFile(unitDocs.habitese.uri, unitDocs.habitese.name)
								"
							>
								<i class="ph-download-simple"></i>
							</button>
						</span>
					</div>
				</div>
			</p-tabPanel>
			<p-tabPanel header="Histórico">
				<div class="history-data">
					<div class="data">
						<div class="label">21/09/2019:</div>
						<div class="value">Unidade locada</div>
					</div>
					<div class="data">
						<div class="label">18/08/2020:</div>
						<div class="value">Recisão de contrato</div>
					</div>
					<div class="data">
						<div class="label">18/08/2020:</div>
						<div class="value">Unidade disponível</div>
					</div>
					<div class="data">
						<div class="label">21/09/2020:</div>
						<div class="value">Vista no inquilino</div>
					</div>
					<div class="data">
						<div class="label">03/05/2021:</div>
						<div class="value">Unidade locada</div>
					</div>
				</div>
			</p-tabPanel>
		</p-tabView>
	</ng-template>
	<ng-template pTemplate="footer">
		<div class="flex justify-between gap-4">
			<button
				pButton
				pRipple
				type="button"
				label="Editar"
				class="p-button-outlined h-9 w-full"
				(click)="navigateTo('property/edit/unit/' + this.unit.guidReferencia)"
			></button>

			<button
				pButton
				pRipple
				type="button"
				(click)="confirmImovelInativar()"
				label="Inativar"
				class="p-button-outlined h-9 w-full"
			></button>

			<button
				pButton
				pRipple
				type="button"
				label="Duplicar"
				class="p-button-outlined h-9 w-full"
				(click)="displayConfirmationCloneUnit = true"
			></button>
		</div>
	</ng-template>
</p-sidebar>

<p-dialog
	[(visible)]="displayModal"
	[modal]="true"
	[draggable]="false"
	[resizable]="false"
	styleClass="form-modal"
	*ngIf="!isMobile"
>
	<ng-container *ngTemplateOutlet="modalContentTemplate"></ng-container>
</p-dialog>

<p-sidebar
	[(visible)]="displayModal"
	position="bottom"
	styleClass="form-modal"
	*ngIf="isMobile"
>
	<ng-template pTemplate="content">
		<ng-container *ngTemplateOutlet="modalContentTemplate"></ng-container>
	</ng-template>
</p-sidebar>

<ng-template #modalContentTemplate>
	<div *ngIf="!modalContent.isError; else error" class="modal-success">
		<h2 *ngIf="modalContent.header">{{ modalContent.header }}</h2>
		<i class="ph-check-circle"></i>
		<p>
			{{ modalContent.message }}
		</p>

		<button
			*ngIf="!isInativarImovel"
			pButton
			label="Continuar"
			(click)="reloadPage()"
		></button>
		<button
			*ngIf="isInativarImovel"
			pButton
			label="Continuar"
			(click)="navigateTo('/property/listing')"
		></button>
	</div>
	<ng-template #error>
		<div class="modal-error">
			<h2 *ngIf="modalContent.header">{{ modalContent.header }}</h2>
			<i class="ph-x-circle"></i>
			<p>
				{{ modalContent.message }}
			</p>
			<button pButton label="Continuar" (click)="closeModal()"></button>
		</div>
	</ng-template>
</ng-template>

<p-dialog
	[(visible)]="displayConfirmationInactiveUnitModal"
	[modal]="true"
	[draggable]="false"
	[resizable]="false"
	styleClass="confirmation-modal"
	*ngIf="!isMobile"
>
	<ng-container
		*ngTemplateOutlet="confirmationInactiveUnitModalContentTemplate"
	></ng-container>
</p-dialog>

<p-sidebar
	[(visible)]="displayConfirmationInactiveUnitModal"
	position="bottom"
	styleClass="confirmation-modal"
	*ngIf="isMobile"
>
	<ng-template pTemplate="content">
		<ng-container
			*ngTemplateOutlet="confirmationInactiveUnitModalContentTemplate"
		></ng-container>
	</ng-template>
</p-sidebar>

<ng-template #confirmationInactiveUnitModalContentTemplate>
	<h2>Deseja realmente inativar essa Unidade?</h2>
	<p>
		Ao inativar não será possível visualizá-la novamente. Caso queira continuar,
		clique em confirmar.
	</p>

	<div class="flex justify-between gap-5">
		<button
			pButton
			label="Cancelar"
			class="p-button-outlined w-full"
			(click)="closeConfirmationInativarModal()"
		></button>

		<button
			pButton
			label="Continuar"
			(click)="inativarUnit()"
			class="w-full"
		></button>
	</div>
</ng-template>

<p-dialog
	[(visible)]="displayConfirmationInactiveImovelModal"
	[modal]="true"
	[draggable]="false"
	[resizable]="false"
	styleClass="confirmation-modal"
	*ngIf="!isMobile"
>
	<ng-container
		*ngTemplateOutlet="confirmationInactiveImovelModalContentTemplate"
	></ng-container>
</p-dialog>

<p-sidebar
	[(visible)]="displayConfirmationInactiveImovelModal"
	position="bottom"
	styleClass="confirmation-modal"
	*ngIf="isMobile"
>
	<ng-template pTemplate="content">
		<ng-container
			*ngTemplateOutlet="confirmationInactiveImovelModalContentTemplate"
		></ng-container>
	</ng-template>
</p-sidebar>

<ng-template #confirmationInactiveImovelModalContentTemplate>
	<h2>Deseja realmente inativar esse Imóvel?</h2>
	<p>
		Ao inativar o imóvel não será possível visualizá-lo novamente. Caso queira
		continuar, clique em confirmar.
	</p>

	<div class="flex justify-between gap-5">
		<button
			pButton
			label="Cancelar"
			class="p-button-outlined w-full"
			(click)="closeConfirmationInativarImovelModal()"
		></button>

		<button
			pButton
			label="Continuar"
			(click)="inativarImovel()"
			class="w-full"
		></button>
	</div>
</ng-template>

<p-dialog
	[(visible)]="displayConfirmationCloneUnit"
	[modal]="true"
	[draggable]="false"
	[resizable]="false"
	styleClass="confirmation-modal"
	*ngIf="!isMobile"
>
	<ng-container
		*ngTemplateOutlet="confirmationCloneUnitModalContentTemplate"
	></ng-container>
</p-dialog>

<p-sidebar
	[(visible)]="displayConfirmationCloneUnit"
	position="bottom"
	styleClass="confirmation-modal"
	*ngIf="isMobile"
>
	<ng-template pTemplate="content">
		<ng-container
			*ngTemplateOutlet="confirmationCloneUnitModalContentTemplate"
		></ng-container>
	</ng-template>
</p-sidebar>

<ng-template #confirmationCloneUnitModalContentTemplate>
	<h2>Deseja realmente duplicar essa unidade?</h2>
	<p>
		Ao duplicar esta unidade será criado outro registro com os mesmo dados. Caso
		queira continuar, clique em confirmar.
	</p>

	<div class="flex justify-between gap-5">
		<button
			pButton
			label="Cancelar"
			class="p-button-outlined w-full"
			(click)="closeConfirmationCloneUnit()"
		></button>

		<button
			pButton
			label="Continuar"
			(click)="cloneUnitModal()"
			class="w-full"
		></button>
	</div>
</ng-template>
