:host {
	display: block;
	background: #f8f9fa;
	min-height: 100vh;
}

.property-view {
	margin: 0 2rem;

	.cover {
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 360px;
		max-width: 1440px;
		left: 0;
		right: 0;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.content {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 2.5rem;
		padding-top: 260px;
		padding-bottom: 4rem;

		.main-card {
			background-color: #ffffff;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			max-width: 1155px;
			width: 100%;
			min-height: 200px;
			padding: 2rem;
			border: 1px solid #eaeaea;
			box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.05);
			border-radius: 4px;

			.left-side {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 0;
				min-width: 22rem;

				h4 {
					@apply font-bold text-lg;

					.property-id {
						@apply text-gray-400 ml-3 text-xs;
					}

					::ng-deep {
						.p-button {
							@apply ml-3 text-lg;
							color: #262626;
							height: 2rem;
							width: 2rem;
							margin-bottom: -0.1rem;

							&:hover {
								background-color: #f7ded3;
								color: #480d1a;
							}

							.pi {
								@apply text-lg;
							}

							&.favorite {
								.pi {
									color: #db3952;
								}
							}
						}
					}
				}

				p {
					@apply text-sm;
				}

				.location {
					@apply text-sm;
				}
			}

			.right-side {
				height: auto;
				display: flex;
				align-items: center;

				.property-features {
					@apply text-sm flex;

					.feature {
						@apply px-7 first:pl-0 border-r last:border-0;
						border-color: #eaeaea;

						.value {
							@apply text-2xl font-bold;
						}
					}
				}
			}
		}

		section {
			max-width: 1155px;
			width: 100%;

			h3 {
				@apply text-2xl font-bold mb-7;
			}

			&.units {
				::ng-deep {
					.p-datatable {
						.p-datatable-wrapper {
							.p-datatable-table {
								.p-datatable-tbody {
									tr {
										td.action {
											.p-button {
												height: 2rem;
												width: 2rem;
												color: #641b1e;
												background-color: transparent;
												border: none;

												&:hover {
													background-color: #f7ded3;
												}

												&:focus-visible {
													box-shadow: 0 0 0 3px rgba(100, 27, 30, 0.2);
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}

			&.attachments {
				.attachments-card {
					background-color: #ffffff;
					display: flex;
					justify-content: flex-start;
					max-width: 1155px;
					width: 100%;
					height: 105px;
					padding: 1.5rem;
					border-radius: 4px;
					gap: 0.5rem;

					button.attachment {
						height: 100%;
						flex-basis: 14rem;
						padding: 0.5rem;
						text-align: start;
						@apply rounded;

						.icon {
							display: inline-flex;
							justify-content: center;
							align-items: center;
							width: 40px;
							height: 40px;
							background-color: #f7ded3;
							border-radius: 4px;

							::ng-deep .cstm-icon {
								margin-bottom: -3px;
							}
						}
						.label {
							@apply text-lg ml-3;
							color: #641b1e;
						}

						&:hover {
							background-color: #fff9f6;
						}
					}
				}
			}

			&.photos {
				ul {
					display: grid;
					grid-template-columns: repeat(5, 1fr);
					grid-template-rows: 1fr 1fr;
					grid-column-gap: 0px;
					grid-row-gap: 0px;

					li {
						display: block;
						overflow: hidden;
						cursor: pointer;

						img {
							min-width: 100%;
							min-height: 100%;
							transition: transform 0.3s;
						}

						&:first-child {
							grid-column-start: 1;
							grid-column-end: 3;
							grid-row-start: 1;
							grid-row-end: 3;
						}

						&:hover {
							img {
								transform: scale(1.1);
							}
						}
					}
				}
			}
		}
	}
}

::ng-deep {
	.p-sidebar.p-sidebar-right {
		width: 25rem;

		.p-sidebar-header {
			h4 {
				@apply text-2xl font-bold;
			}
		}

		.p-sidebar-content {
			.p-tabview {
				.p-tabview-nav-container {
					.p-tabview-nav-content {
						ul.p-tabview-nav {
							li {
								width: 100%;

								a.p-tabview-nav-link {
									@apply py-3 font-medium;

									.p-tabview-title {
										color: #646464;
										width: 100%;
										text-align: center;
									}
								}
							}
						}
					}
				}
			}

			.details-data {
				.data {
					@apply pb-4;

					.label {
						@apply text-sm;
						display: block;
						color: #646464;
					}

					.value {
						@apply text-xl font-bold;
						color: #262626;
					}
				}

				.data.small {
					@apply text-sm;

					.label {
						display: inline;
					}

					.value {
						@apply text-sm font-medium ml-2;
					}
				}

				.share-line {
					display: flex;
					justify-content: space-between;
					width: 100%;

					.data {
						width: 50%;
					}
				}
			}

			.attachment-data {
				@apply mt-3;

				.document {
					@apply flex justify-between items-center text-sm rounded;
					color: #641b1e;
					padding: 0.4rem;

					.buttons {
						@apply text-xl;

						button {
							@apply mx-1 w-7 h-7 rounded-full;
							padding: 0 0 0 0.37rem;
							text-align: center;

							&:hover {
								background-color: #f7ded3;
							}
						}

						label {
							@apply inline-block mx-1 w-7 h-7 rounded-full;
							padding: 0.1rem 0 0 0;
							text-align: center;
							cursor: pointer;
							font-size: 1rem;

							&:hover {
								background-color: #f7ded3;
							}

							i {
								color: #641b1e;
							}

							input[type="file"] {
								display: none;
							}
						}
					}

					> span:first-child:before {
						content: "";
						display: inline-block;
						@apply w-6 h-6 mr-4 rounded;
						margin-bottom: -0.4rem;
						background-color: #f7ded3;
						background-position: center center;
						background-repeat: no-repeat;
					}

					&.project > span:first-child:before {
						background-image: url("../../../../assets/images/icons/blueprint-buildings.svg");
					}
					&.registration > span:first-child:before {
						background-image: url("../../../../assets/images/icons/blueprint-home.svg");
					}
					&.occupancy > span:first-child:before {
						background-image: url("../../../../assets/images/icons/blueprint-buildings.svg");
					}

					&:hover {
						background-color: rgba(0, 0, 0, 0.02);
					}
				}
			}

			.history-data {
				.data {
					@apply pb-4;

					.label {
						@apply text-xs;
						color: #646464;
					}

					.value {
						@apply text-sm;
						color: #262626;
					}
				}
			}
		}

		.p-sidebar-footer {
		}
	}
}

:host ::ng-deep {
	.p-inputwrapper {
		width: 100%;

		.p-component {
			&.p-dropdown {
				width: 100%;
			}
		}
	}

	.p-calendar {
		width: 100%;

		.p-inputtext {
			width: 100%;
		}
	}

	.form-modal {
		text-align: center;
		max-width: 25rem;

		h2 {
			@apply font-bold;
			font-size: 2rem;
			color: #353635;
		}

		i {
			@apply mt-4;
			font-size: 5rem;
			color: #319016;
		}

		p {
			@apply text-lg mt-4;
			color: #262626;
		}

		.p-button {
			@apply mt-10;
			width: 100%;
		}

		.modal-error {
			i {
				color: #e24c4c;
			}
		}
	}
}

.alert-message {
	width: 100%;
	height: 100%;
	background-color: #f8f9fa;

	.loading {
		max-width: 1440px;
		margin: 5rem;
	}
}

::ng-deep {
	.p-sidebar.p-sidebar-right {
		width: 26rem;
	}

	.p-dialog {
		&.confirmation-modal {
			@apply w-[25rem];

			.p-dialog-content {
				text-align: center;

				h2 {
					@apply text-3xl font-bold mb-4;
				}

				p {
					@apply text-lg mb-10;
				}
			}
		}
	}
}
