<div class="property-view">
	<div class="cover"></div>

	<div class="content">
		<div class="main-card">
			<div
				class="left-side"
				*ngIf="property && property.idCategoriaImovelNavigation"
			>
				<p-tag
					[rounded]="true"
					[styleClass]="
						property.idCategoriaImovelNavigation.nome == 'Imóvel de carteira'
							? 'wallet'
							: 'market'
					"
				></p-tag>
				<h4>
					{{ property.nome }}
					<span class="property-id">#{{ property.numCentroCusto }}</span>
					<button
						pButton
						pRipple
						type="button"
						[icon]="isFavorite ? 'pi pi-heart-fill' : 'pi pi-heart'"
						[ngClass]="{
							'p-button-rounded p-button-text': true,
							favorite: isFavorite
						}"
						(click)="toggleFavorite()"
					></button>
				</h4>
				<p>
					{{ property.imovelEndereco?.[0]?.rua ?? '' }} -
					{{ property.imovelEndereco?.[0]?.uf }}
				</p>
				<div class="location">
					<app-icon name="pin-building" styleClass="mr-1"></app-icon>
					{{ property.idCategoriaImovelNavigation.nome }}
				</div>
			</div>
			<div class="right-side" *ngIf="property">
				<div class="property-features">
					<div class="feature">
						<div class="label">
							<app-icon name="door" styleClass="mr-1"></app-icon>
							Unidades
						</div>
						<div class="value">{{ property.nroUnidades ?? 0 }}</div>
					</div>
					<span class="feature">
						<div class="label">
							<app-icon name="area" styleClass="mr-1"></app-icon>
							Metragem total
						</div>
						<div class="value">{{ property.areaTotal ?? 0 | area }}</div>
					</span>
					<span class="ml-7 mt-2">
						<button
							pButton
							type="button"
							class="p-button-outlined icon-left h-9"
							(click)="navigateTo('property/edit/' + uid)"
						>
							Editar imóvel
						</button>
					</span>
				</div>
			</div>
		</div>

		<section class="units" *ngIf="property && property.unidade">
			<div class="w-full flex justify-between">
				<h3>Unidades</h3>
				<button
					pButton
					type="button"
					icon="pi pi-plus"
					iconPos="left"
					class="p-button-outlined icon-left h-9"
				>
					Adicionar unidade
				</button>
			</div>

			<div *ngIf="property.unidade && property.unidade!.length === 0">
				sem unidades cadastradas
			</div>

			<p-table
				[value]="units"
				styleClass="p-datatable-striped"
				[tableStyle]="{ 'min-width': '50rem' }"
				*ngIf="property.unidade && property.unidade!.length > 0"
			>
				<ng-template pTemplate="header">
					<tr>
						<th>Nome</th>
						<th>Área Habite-se</th>
						<th>Área Útil</th>
						<th>Locatário</th>
						<th>Vencimento</th>
						<th>Locação</th>
						<th></th>
					</tr>
				</ng-template>
				<!-- <ng-container *ngFor="let unit of property.unidade"></ng-container> -->
				<ng-template pTemplate="body" let-unit>
					<tr>
						<td>{{ unit.tipo }}</td>
						<td>{{ unit.areaHabitese ?? 0 | area }}</td>
						<td>{{ unit.areaUtil | area }}</td>
						<td>-</td>
						<td>-</td>
						<td class="w-52">
							<ng-container *ngIf="unit.unidadeLocada; else disponivel">
								<p-tag
									value="Unidade locada"
									[rounded]="true"
									severity="danger"
									styleClass="w-36"
								></p-tag>
							</ng-container>
							<ng-template #disponivel>
								<p-tag
									value="Unidade disponível"
									[rounded]="true"
									severity="success"
									styleClass="w-36"
								></p-tag>
							</ng-template>
						</td>
						<td class="action w-16">
							<button
								type="button"
								pButton
								icon="pi pi-ellipsis-v"
								class="p-button-rounded"
								(click)="actionMenu.toggle($event); setCurrentUnit(unit)"
							></button>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</section>

		<section class="attachments">
			<h3>Anexos</h3>

			<div class="attachments-card">
				<button type="button" class="attachment">
					<span class="icon">
						<app-icon name="att-proj" size="1.5rem"></app-icon>
					</span>
					<span class="label">Projeto</span>
				</button>
				<button type="button" class="attachment">
					<span class="icon">
						<app-icon name="att-mat" size="1.5rem"></app-icon>
					</span>
					<span class="label">Matrícula</span>
				</button>
				<button type="button" class="attachment">
					<span class="icon">
						<app-icon name="att-hab" size="1.5rem"></app-icon>
					</span>
					<span class="label">Habite-se</span>
				</button>
			</div>
		</section>

		<ng-container *ngIf="imageList.length > 0">
			<section class="photos">
				<h3>Fotos</h3>
				<app-photo-gallery [imageList]="imageList"></app-photo-gallery>
			</section>
		</ng-container>
	</div>
</div>

<p-menu #actionMenu [popup]="true" [model]="tableMenu"></p-menu>

<p-sidebar [(visible)]="detailsVisible" position="right" *ngIf="unit">
	<ng-template pTemplate="header">
		<h4>
			Unidade nome
			<p-tag value="Unidade locada" [rounded]="true" severity="danger"></p-tag>
		</h4>
	</ng-template>
	<ng-template pTemplate="content">
		<img
			src="../../../assets/images/property/edit.png"
			alt="Foto unidade"
			class="mb-3"
		/>
		<p-tabView>
			<p-tabPanel header="Detalhes">
				<div class="details-data">
					<div class="share-line">
						<div class="data">
							<span class="label">Área Útil</span>
							<span class="value">{{ unit.areaUtil ?? 0 | area }}</span>
						</div>
						<div class="data">
							<span class="label">Área Total</span>
							<span class="value">{{ unit.areaTotal ?? 0 | area }}</span>
						</div>
					</div>
					<div class="share-line">
						<div class="data">
							<span class="label">Área Habite-se</span>
							<span class="value">{{ unit.areaHabitese ?? 0 | area }}</span>
						</div>
						<div class="data">
							<span class="label">Valor Potencial</span>
							<span class="value">{{ unit.valorPotencial | currency }}</span>
						</div>
					</div>
					<div class="data">
						<span class="label">Taxa de administração</span>
						<span class="value">{{ unit.taxaAdministracao | currency }}</span>
					</div>

					<div class="data small">
						<span class="label">Número de matrícula:</span>
						<span class="value">{{ unit.matricula }}</span>
					</div>
					<div class="data small">
						<span class="label">Mat. IPTU:</span>
						<span class="value">unit.matriculaIPTU</span>
					</div>
					<div class="data small">
						<span class="label">Ins. IPTU:</span>
						<span class="value">{{ unit.inscricaoIPTU }}</span>
					</div>
					<div class="data small">
						<span class="label">N° Neoenergia:</span>
						<span class="value">{{ unit.matriculaEnergia }}</span>
					</div>
					<div class="data small">
						<span class="label">N° CAESB:</span>
						<span class="value">{{ unit.matriculaAgua }}</span>
					</div>
				</div>
			</p-tabPanel>
			<p-tabPanel header="Histórico">
				<div class="history-data">
					<div class="data">
						<div class="label">21/09/2019:</div>
						<div class="value">Unidade locada</div>
					</div>
					<div class="data">
						<div class="label">18/08/2020:</div>
						<div class="value">Recisão de contrato</div>
					</div>
					<div class="data">
						<div class="label">18/08/2020:</div>
						<div class="value">Unidade disponível</div>
					</div>
					<div class="data">
						<div class="label">21/09/2020:</div>
						<div class="value">Vista no inquilino</div>
					</div>
					<div class="data">
						<div class="label">03/05/2021:</div>
						<div class="value">Unidade locada</div>
					</div>
				</div>
			</p-tabPanel>
		</p-tabView>
	</ng-template>
	<ng-template pTemplate="footer">
		<div class="flex justify-between gap-4">
			<button
				pButton
				pRipple
				type="button"
				label="Editar"
				class="p-button-outlined h-9 w-full"
				(click)="navigateTo('property/edit/unit/' + this.unit.guidReferencia)"
			></button>

			<button
				pButton
				pRipple
				type="button"
				label="Duplicar"
				class="p-button-outlined h-9 w-full"
			></button>
		</div>
	</ng-template>
</p-sidebar>
