.topbar {
	height: 71px;
	width: 100%;
	background: #f8f9fa;
	z-index: 1000;
	border-bottom: 1px solid #eaeaea;

	.hamburger {
		> span {
		}
	}
}

:host ::ng-deep {
	.topbar {
		.hamburger {
			> span {
				color: #641b1e;
			}
		}
	}
	.p-element {
		.p-avatar.p-avatar-lg {
			width: 2.5rem;
			height: 2.5rem;
		}

		.p-menubar {
			@apply px-6 py-0;
			height: 100%;
			width: 100%;
			margin: 0 auto;
			justify-content: start;
			max-width: 1440px;
			border: none;

			.p-element {
				height: 100%;

				ul.p-menubar-root-list,
				ul.p-menu-list {
					height: 100%;

					.p-menuitem {
						@apply text-sm;
						height: 100%;
						margin-bottom: -1px;
						color: #262626;

						.p-menuitem-link {
							--tw-ring-color: rgba(0, 0, 0, 0.05);
							--tw-ring-inset: inset;
							@apply px-5 focus:ring-0;
							height: 100%;
							background-color: transparent;
							border-radius: 0;
							border-bottom: 2px solid transparent;

							.p-menuitem-text {
								@apply font-medium;
							}

							.p-submenu-icon {
								position: relative;
								font-size: 0.6rem;
								margin-top: 0.2rem;
								top: 25%;
								color: #6c757d;
							}

							&#current {
								.p-menuitem-text {
									@apply font-bold;
								}
							}

							&:hover,
							&:focus,
							&:focus-visible,
							&#current {
								background-color: transparent;
								border-bottom: 2px solid var(--dark-red);

								.p-submenu-icon {
									color: #6c757d;
								}
							}
						}

						&.p-menuitem-active {
							.p-menuitem-link {
								border-bottom: 2px solid var(--dark-red);

								.p-menuitem-text {
									color: #262626;
								}
							}
						}

						ul.p-submenu-list {
							@apply rounded;
							height: auto;

							.p-menuitem {
								.p-menuitem-link {
									border-bottom: none;

									&:hover {
										background-color: rgba(0, 0, 0, 0.05);
										border-bottom: none;
									}

									&#current {
										background-color: rgba(0, 0, 0, 0.05);
										border-bottom: none;
									}
								}
							}
						}
					}
				}
				@media screen and (max-width: 960px) {
					ul.p-menubar-root-list {
						height: auto;

						.p-menuitem {
							.p-menuitem-link {
								color: blue;

								&:hover,
								&:focus,
								&:focus-visible {
									background-color: rgb(247, 247, 247);
									border-color: transparent;
								}

								&#current {
									@apply font-bold pl-7;
									border-color: transparent;

									&:hover,
									&:focus,
									&:focus-visible {
										background-color: rgb(247, 247, 247);
										border-color: transparent;
									}
								}
							}
						}
					}
				}
			}
		}

		// SIDEBAR
		.p-sidebar {
			background-color: #480d1a;
			color: white;
			max-width: 100vw;

			.p-sidebar-header {
				.p-sidebar-close {
					color: white;

					&:hover {
						background-color: #300710;
					}
				}
			}
		}

		.p-panelmenu {
			.p-panelmenu-panel {
				.p-panelmenu-header {
					.p-panelmenu-header-link {
						background-color: transparent;
						border: none;
						color: white;
						font-weight: 500;
						display: flex;
						flex-direction: row-reverse;
						justify-content: space-between;

						> span.p-menuitem-text {
							width: 100%;
						}

						&:hover {
							background-color: #3d0a15;
						}

						&:focus,
						&:focus-visible,
						&:active {
							outline: none;
							border: none;
							box-shadow: none;
						}
					}
				}

				.p-panelmenu-content {
					background-color: transparent;
					border: none;

					.p-submenu-list {
						.p-menuitem {
							.p-menuitem-link {
								padding-top: 1.2rem;
								padding-bottom: 1.2rem;
								margin-left: 0.6rem;
								color: white;

								&:hover {
									background-color: transparent;
								}

								&:focus,
								&:focus-visible,
								&:active {
									outline: none;
									border: none;
									box-shadow: none;
								}

								&#current {
									.p-menuitem-text {
										font-weight: bolder;
									}
								}

								.p-menuitem-text {
									color: white;
									font-weight: 500;
								}
							}
						}
					}
				}
			}
		}
	}
}
