<div class="topbar">
	<p-menubar [model]="isMobile ? [] : items">
		<ng-template pTemplate="start">
			<img
				src="../../../../assets/images/footer-logo.png"
				alt="Iris-logo"
				class="mr-5"
			/>
		</ng-template>
		<ng-template pTemplate="end">
			<p-avatar
				image="../../../../assets/images/avatar.png"
				styleClass="mr-2"
				size="large"
				shape="circle"
				styleClass="mt-1"
				*ngIf="!isMobile"
			></p-avatar>
			<button
				pButton
				pRipple
				type="button"
				icon="pi pi-bars"
				class="p-button-rounded p-button-text hamburger"
				(click)="openMobileMenu()"
				*ngIf="isMobile"
			></button>
		</ng-template>
	</p-menubar>
</div>

<p-sidebar [(visible)]="displayMobileMenu" position="right">
	<ng-template pTemplate="content">
		<p-panelMenu [model]="items"></p-panelMenu>
	</ng-template>
	<ng-template pTemplate="footer">
		<p-avatar
			image="../../../../assets/images/avatar.png"
			styleClass="mr-2"
			size="large"
			shape="circle"
			styleClass="mt-1"
		></p-avatar>
	</ng-template>
</p-sidebar>
