<div class="login-page">
	<div class="login-box">
		<img src="/assets/images/login-logo.png" alt="Iris Logo" />

		<h1 class="mt-7 text-center text-3xl font-bold">Login</h1>
		<button
			type="button"
			class="w-11/12 mt-11"
			label="Tela de Login"
			(click)="autenticar()"
			pButton
		></button>

		<div class="error" *ngIf="message">
			<i class="ph ph-x-circle text-4xl text-red-600"></i>

			<p class="text-lg font-bold">Um problema inesperado occoreu</p>
			<p>Tente novamente mais tarde.</p>
		</div>
	</div>
</div>

<!-- <div
	*ngIf="message"
	class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
	role="alert"
>
	<strong class="font-bold">Holy smokes!</strong>
	<span class="block sm:inline">{{ message }}</span>
	<span class="absolute top-0 bottom-0 right-0 px-4 py-3">
		<svg
			class="fill-current h-6 w-6 text-red-500"
			role="button"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 20 20"
		>
			<title>Close</title>
			<path
				d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
			/>
		</svg>
	</span>
</div>

<button
	class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
	(click)="autenticar()"
>
	Tela de login
</button>

<div>
	<!-- <form #formLogin="ngForm">

        <div>
            <label for="usuario"> Usuario:</label>
            <input
                type="text"
                id="usuario"
                name="usuario"
                [(ngModel)] = "login.login"
                #usuario="ngModel"
                required="true"
                aria-label="usuario"
            />
            <div *ngIf="usuario.errors && (usuario.dirty || usuario.touched)">
                <div [hidden]="!usuario?.errors?.['required']">
                    Digite o usuário
                </div>
            </div>
        </div>

        <div>
            <label for="senha"> Senha:</label>
            <input
                type="password"
                id="senha"
                name="senha"
                [(ngModel)] = "login.senha"
                #senha="ngModel"
                required="true"
                aria-label="senha"
            />
            <div *ngIf="senha.errors && (senha.dirty || senha.touched)">
                <div [hidden]="!senha?.errors?.['required']">
                    Digite a senha
                </div>
            </div>
        </div>

        <button
            type="button"
            (click)="logar()"
            [disabled]="!formLogin.form.valid"
            aria-label="logar"
        >
            <i class="fa fa-save" aria-hidden="true"></i> Logar
        </button>

        <button
            type="button"
            [routerLink]="['/auto-cadastro']"
            aria-label="registrar"
        >
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Registrar
        </button>

    </form> ->
</div> -->
