<ng-container *ngIf="!isMobile; else mobileView">
	<p-dialog
		[(visible)]="visible"
		[modal]="true"
		[draggable]="false"
		[resizable]="false"
		[styleClass]="'responsive-dialog ' + styleClass"
		(onHide)="emitOnHide(false)"
	>
		<ng-container *ngTemplateOutlet="content"></ng-container>
	</p-dialog>
</ng-container>
<ng-template #mobileView>
	<p-sidebar
		[(visible)]="visible"
		position="bottom"
		[styleClass]="'responsive-dialog ' + styleClass"
		(onHide)="emitOnHide(false)"
		(onShow)="openning()"
	>
		<ng-template pTemplate="content">
			<ng-container *ngTemplateOutlet="content"></ng-container>
		</ng-template>
	</p-sidebar>
</ng-template>

<ng-template #content>
	<ng-content></ng-content>
</ng-template>
